// avoid glitches due to css transitions occuring while
// the document is not fully loaded
.js .preload * {
	@include transition(none !important);
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  @include box-sizing(border-box);
 }
html
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* webfont active typesetting */
.wf-active {
	font: normal percentage(strip-units($base-font-sz)/16)/#{$compact-line-height} $bdy-stack;
}
body {
	font: normal percentage(strip-units($base-font-sz)/16)/#{$compact-line-height} $bdy-stack;
	background: $main-bkg-clr;
	color: $main-clr;
	position: relative;
}
ul
{
	padding:0;
	margin:0;
	list-style: none;
}