<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js preload" ng-app="projects"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!-- Definition -->
		<title>Base - Framework</title>
		<link rel="icon" href="assets/img/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/img/app-icon/AppIcon72x72@2x.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="assets/img/app-icon/AppIcon57x57@2x.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="assets/img/app-icon/AppIcon72x72.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="assets/img/app-icon/AppIcon57x57.png" />
		<meta name="description" content="OOCSS Base framework" />
		<meta name="keywords" content="oocss,template,base,framework" />

		<!-- Microformats -->
		<link rel="profile" href="http://microformats.org/profile/specs">

		<!-- CSS -->
		<link rel="stylesheet" href="assets/css/screen.css" media="screen" />

		<!-- JS -->
		<script src="assets/js/libs/modernizr.js"></script>

	</head>
	<body>
		<div class="table_container">
			<table ng-controller="projects">
				<thead>
					<tr class="head_table">
						<td class="headcol">Project</td>
						<td class="passed">3</td>
						<td class="passed">4</td>
						<td class="passed">5</td>
						<td class="passed">6</td>
						<td class="passed">7</td>
						<td class="passed">10</td>
						<td class="passed">11</td>
						<td class="today">12</td>
						<td>13</td>
						<td>14</td>
						<td>17</td>
						<td>18</td>
						<td>19</td>
						<td>20</td>
						<td>21</td>
					</tr>
					<tr ng-repeat="project in projects"  nc-click="highlight_project([project.id],project.workers)" ng-dblclick="isolate_project([project.id],project.workers)" ng-class="{'op_low': display_project.indexOf(project.id) == -1 && display_project.length > 0, 'visually-hidden': isolate_projects.indexOf(project.id) == -1 && isolate_projects.length > 0}">
						<td class="headcol">{{project.name}}</td>
						<td class="passed"><span class="days--10"></span></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr class="head_table">
						<td class="headcol">Availability</td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr ng-repeat="worker in workers | orderBy:'last_name'" nc-click="highlight_project(worker.projects_id,[worker.id])" ng-dblclick="isolate_project(worker.projects_id,[worker.id])"  ng-class="{'op_low': display_worker.indexOf(worker.id) == -1 && display_worker.length > 0, 'visually-hidden': isolate_worker.indexOf(worker.id) == -1 && isolate_worker.length > 0}">
						<td class="headcol">{{worker.first_name}} {{worker.last_name}}</td>
						<td class="passed"><span class="occupation" ></span></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td class="passed"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
				<tbody></tbody>
			</table>
		</div>
		

		<!-- Script load footer -->
		<script src="assets/js/libs/jquery.min.js"></script>
		<script src="assets/js/frameworks/angular.min.js"></script>
		<script src="assets/js/angular/directives/clicker.min.js"></script>
		<script src="assets/js/angular/directives/phases-tables.min.js"></script>
		<!--[if (lt IE 9) & (gte IE 7)]>
			<script src="assets/js/helpers/domassistant.min.js"></script>
			<script src="assets/js/helpers/selectivizr.min.js"></script>
			<script src="assets/js/helpers/respond.min.js"></script>
		<![endif]-->
		<script src="assets/js/scripts/elem.js"></script>
		<script src="assets/js/scripts/app.js"></script>
		<!-- END Script load footer -->
	</body>
</html>