<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js preload" ng-app="projects"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!-- Definition -->
		<title>Nomad - Projects</title>
		<link rel="icon" href="assets/img/favicon.ico">
		<link rel="apple-touch-icon" sizes="144x144" href="assets/img/app-icon/AppIcon72x72@2x.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="assets/img/app-icon/AppIcon57x57@2x.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="assets/img/app-icon/AppIcon72x72.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="assets/img/app-icon/AppIcon57x57.png" />
		<meta name="description" content="OOCSS Base framework" />
		<meta name="keywords" content="oocss,template,base,framework" />

		<!-- Microformats -->
		<link rel="profile" href="http://microformats.org/profile/specs">

		<!-- CSS -->
		<link rel="stylesheet" href="assets/css/screen.css" media="screen" />

		<!-- JS -->
		<script src="assets/js/libs/modernizr.js"></script>

	</head>
	<body  ng-controller="projects">
		<ul class="controller group">
			<li class="controller_item">
				<a href="javascript:void(0);" ng-click="zoomToday();" class="btn btn--small btn-valid">T</a>
			</li>
			<li class="controller_item">
				<a href="javascript:void(0);" ng-click="zoomLevel(1);" class="btn btn--small btn-valid">D</a>
			</li>
			<li class="controller_item">
				<a href="javascript:void(0);" ng-click="zoomLevel(.5);" class="btn btn--small btn-valid">W</a>
			</li>
			<li class="controller_item">
				<a href="javascript:void(0);" ng-click="zoomLevel(0);" class="btn btn--small btn-valid">M</a>
			</li>
			<li>
				<div range-slider min="0" max="100" model-min="min" model-max="max"></div>
			</li>
		</ul>
		<ul class="controller group" ng-show="editProject">
			<li class="controller_item">
				<a href="" ng-click="toggleEdit();"  class="btn btn--small btn-valid">Edit</a>
			</li>
		</ul>
		<ul class="controller group"  ng-hide="editProject">
			<li class="controller_item">
				<a href="" ng-click="cancelEdit();"  class="btn btn--small btn-valid">Cancel</a>
			</li>
			<li class="controller_item">
				<a href="" ng-click="saveEdit();"  class="btn btn--small btn-valid">Save</a>
			</li>
		</ul>
		<div class="projects_container">
			<div projects-phases></div>
		</div>
		<!-- Container for assignment -->
		<div id="newAssignment" class="block-assign" ng-show="newAssignement">
			<header>
				<h2 class="head-title">Add assignement</h2>
			</header>
			<div class="assignment-content">
				<form action="#">
					<ul>
						<li>
							<p class="assign-input assign-input-date"><input type="text" placeholder="Start date" id="start_date"></p><!--
							--><p class="assign-input assign-input-date"><input type="text" placeholder="End date" id="start_date"></p>
						</li>
						<li>
								<p class="assign-input assign-input-left"><input type="text" id="assignement_form" placeholder="Team member" /></p><!--
								--><p class="assign-input assign-input-right"><input type="text" id="assignement_form" placeholder="%"/></p>
						</li>
					</ul>
				</form>
			</div>
			<footer>
				<ul>
					<li class="control-footer"><a href="javascript:void(0);" class="btn btn--expand btn-cancelify">Cancel</a></li><!--
					--><li class="control-footer"><a href="javascript:void(0);" class="btn btn--expand btn-valid">Ok</a></li>
				</ul>
			</footer>
		</div>
		<!-- Container for informations -->
		<div id="infoAssignment" class="block-assign" ng-show="infoAssignement">
			<header>
				<h2 class="head-title">Assignment</h2>
			</header>
			<div class="assignment-content">
				<form action="#">
					<ul>
						<li>
								<p class="assign-input assign-input-left"><input type="text" id="assignement_form" placeholder="Team member" value="Nicolas Jacobeus" readonly="readonly"/></p><!--
								--><p class="assign-input assign-input-right"><input type="text" id="assignement_form" placeholder="%" value="60%" readonly="readonly"/></p>
						</li>
						<li>
								<p class="assign-input assign-input-left"><input type="text" id="assignement_form" placeholder="Team member" value="Micheal Albert" readonly="readonly"/></p><!--
								--><p class="assign-input assign-input-right"><input type="text" id="assignement_form" placeholder="%" value="60%" readonly="readonly"/></p>
						</li>
					</ul>
				</form>
			</div>
			<footer>
				<ul>
					<li class="control-footer"><a href="javascript:void(0);" class="btn btn--expand btn-cancelify">Cancel</a></li><!--
					--><li class="control-footer"><a href="javascript:void(0);" class="btn btn--expand btn-valid">Ok</a></li>
				</ul>
			</footer>
		</div>
		<!-- Script load footer -->
		<script src="assets/js/libs/jquery.min.js"></script>
		<script src="assets/js/libs/jquery-ui.min.js"></script>
		<script src="assets/js/frameworks/angular.min.js"></script>
		<script src="assets/js/angular/directives/resize.js"></script>
		<script src="assets/js/angular/directives/clicker.min.js"></script>
		<script src="assets/js/angular/directives/phases-tables.js"></script>
		<!--[if (lt IE 9) & (gte IE 7)]>
			<script src="assets/js/helpers/domassistant.min.js"></script>
			<script src="assets/js/helpers/selectivizr.min.js"></script>
			<script src="assets/js/helpers/respond.min.js"></script>
		<![endif]-->
		<script src="assets/js/scripts/app2.js"></script>
		<!-- END Script load footer -->
	</body>
</html>