
// = SETTINGS FOR SASS/COMPASS AND BASE CSS FRAMEWORK
// ====================================================================

// SUPPORT FOR LEGACY BROWSERS
// ==================================

// -- don't use css hacks for IE 6/7
$legacy-support-for-ie: false;
$legacy-support-for-ie8: true;
// -- don't use css hacks for firefox 3.6 and lower
$legacy-support-for-mozilla: false;

// SUPPORT FOR EXPERIMENTAL CSS PROPERTIES
$experimental-support-for-webkit: true;
// -- webkit now uses css3 specification's syntax for gradients
$support-for-original-webkit-gradients: false;
$experimental-support-for-mozilla: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
// -- konqueror's browser now uses the webkit rendering engine
$experimental-support-for-khtml: false;

$experimental-support-for-svg: false;
$experimental-support-for-pie: false;


/* http://compass-style.org/reference/compass/support/ */