
// = CSS HELPER CLASSES FOR COMMON CSS LAYOUT ISSUES
// ====================================================================

// CLEARFIX
// ++++++++++++++++++++++
// -- http://nicolasgallagher.com/micro-clearfix-hack

.group {
	&:before, &:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}


// HIDING ELEMENTS
// ++++++++++++++++++++++
// -- H5BP method based on jonathan snook's accessible clipping method
// -- http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;

	&.focusable:focus,
	&.focusable:active {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		clip: auto;
		overflow: visible;
	}
}


// IMAGE REPLACEMENT
// ++++++++++++++++++++++

// -- based on H5BP's hybrid of phark method and improved nir method:
// -- http://nicolasgallagher.com/css-image-replacement-with-pseudo-elements/

.ir
{
	//background: transparent; commented out because sometimes you want a bkg color
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}

	.lt-ie8 & {
		text-indent: 150%;
		white-space: nowrap;
	}
}