
// = SET OF SASS MIXINS USED TO INCLUDE COMMON CSS BLOCKS
// ====================================================================


// COMPASS MIXINS
// ++++++++++++++++++++++

@import "compass/css3";
@import "compass/css3/user-interface";


// BOX-SIZING
// ++++++++++++++++++++++

@mixin box-sizing($type:border-box)
{
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
    box-sizing: $type;
}

// MEDIA QUERIES
// ++++++++++++++++++++++

@mixin mq($media-query)
{
	@each $breakpoint in $breakpoints
	{
		$prefix:	nth($breakpoint, 1);
		$param: 	nth($breakpoint, 2);

		@if ($prefix != "") and ($param !="")
		{
			@if ($media-query == $prefix)
			{
				@media only screen and #{$param} { @content; }
			}
		}
		@else
		{
			@warn "media queries parameters not defined";
		}
	}
}


// FLUID MEDIA
// ++++++++++++++++++++++

@mixin fluid-aspect-ratio($small-sz, $big-sz)
{
	$small-w: nth($small-sz, 1);
	$small-h: nth($small-sz, 2);
	$big-w: nth($big-sz, 1);
	$big-h: nth($big-sz, 2);

	$slope: ($big-h - $small-h) / ($big-w - $small-w);
	$height: $small-h - $small-w * $slope;

	padding-top: $slope * 100%;
	height: $height;
}

// TEXT-FORMATS
// ++++++++++++++++++++++

/* =SINGLE-LINE
* ----------------------------------- */
@mixin single-line($wrap-style: pre) {
	white-space: $wrap-style;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

// ANIMATION
// ++++++++++++++++++++++

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}