.block-assign
{
  background-color:#fff;
  position:absolute;
  z-index:20000;
  width:300px;
}
.head-title
{
	background: #f2f3f7;
	width:100%;
	padding:.5em .5em;
	font:"Lato";
	font-weight: 300;
	margin:0;
}
.control-footer
{
	width:50%;
	display: inline-block;
	& a
	{
		border-radius:0;
	}
}
.assignment-content
{
	padding:1em 1em;
}
input,textarea
{
	border:0;
	padding:.3em 0;
	background-color:#f2f3f7;
}
input[readonly="readonly"],textarea[readonly="readonly"]
{
	background-color:white;
}
.assign-label
{
	color:$valid-clr;
	padding-left:.5em;
}
.assign-input
{
	padding:.5em 0;
	margin:.3em 0;
	display: inline-block;
}
.assign-input-left input,.assign-input-left textarea,
.assign-input-right input,.assign-input-right textarea,
.assign-input-date input, .assign-input-date textarea
{
	padding:.6em .5em;
	width:100%;
}
.assign-input-left
{
	width:80%;
	padding-right:.3em;
}
.assign-input-right
{
	width:20%;
}
.btn-cancelify
{
	background:#f2f3f7;
}
.assign-input-date
{
	width:50%;
	&:first-child
	{
		padding-right: .3em;
	}
	&:last-child
	{
		padding-left: .3em;
	}
}
.head-title
{
	color:#7ee032;
	font-size:pxtoem(20px,$base-font-sz);
}