.grid-test
{
	height:400px;
	background: purple;
	overflow: scroll;
}
.grid-test:nth-child(odd)
{
	background:yellow;
	margin-bottom:5em;
}
.container
{
	width:960px;
	margin:0 auto;
}

@include mq(big)
{
	.inner-wrapper{
		width:960px;
		margin: 0 auto;
	}
}