body
{
    margin: 0 20px;
    background-color:#E8E9EE;
    color:#303742;
}
/*
|---------------------------------------------------------------------
|  =PROJECTS-TABLE
|---------------------------------------------------------------------
*/

// =PROJECTS-TABLE-SETTINGS
// ------------------------------------------------

$projects_container-margin-left: 400px;

$separator-thead-tbody-height: 50px;
$project-line-height: 50px;
$project-line-width: 50px;

$head-project-table-background-color: #F2F3F7;
$head-project-table-color: #70C64B;
$head-project-table-background-color-default: #FFFFFF;

$headcol-width: 400px;
$headcol-padding-left: 15px;
$headcol-border-right-color:#d6d6db;

$project-cell-border-color: #ececec;

$passed-days-background-color: #000;
$passed-days-opacity:0.1;

$bar-background-color:#f2f3f7;
$bar-height: 10px;
$bar-project-height:14px;
$bar-phase-height:8px;
$bar-subphase-height:4px;
$bar-task-height:30px;
$bar-task-background-color:#7EE032;
$bar-time-height: 30px;
$bar-time-background-color:#7EE032;
$progress-bar-background-color: rgba(0,0,0,0.1);
$today-border-bottom-color:#7EE032;

$project-line-niv-1-padding-left: 40px;
$project-line-niv-2-padding-left: 80px;
$project-line-niv-3-padding-left: 120px;

$month-font-size:10px;
$month-color: #d6d6db;
$year-font-size: 16px;

@mixin bar-top-position($barheight,$lineheight){
  top: ($lineheight/2) - ($barheight/2);
} 

// =PROJECTS-TABLE
// ------------------------------------------------

.projects_container { 
    margin-left:$projects_container-margin-left; 
    overflow-x:scroll;  
    overflow-y:visible;
    -webkit-overflow-scrolling: touch;
     *{
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;  
    }

    
}
.projects_table{
  border-collapse:separate;  
  tbody::before{
    content: '';
    display: block;
    height: $separator-thead-tbody-height;
  }
  tr{
    height:$project-line-height;
    &.head_table{
      td{
        border-right:none;
        background-color:$head-project-table-background-color;
        &:first-child{
          text-transform:uppercase;
          color:$head-project-table-color;
          border-right: 1px solid $headcol-border-right-color;
        }
      }
    }
  }
  td,th{
    margin:0;
    border-top-width:0px; 
    white-space:nowrap;
    background:$head-project-table-background-color-default;
  }
  td{
    position:relative;
    height: $project-line-height;
    min-width: $project-line-width;
    // %table-size;
    text-align: center;
    border-right: 1px dashed $project-cell-border-color;
    &.week{
      min-width: #{$project-line-height*7};
    }
    &:last-child{
      border-right:none;
    }
    &.passed{
      border:none;
    }
    &.headcol {
      position:absolute;
      min-width: $headcol-width;
      padding-left: $headcol-padding-left;
      width:$headcol-width; 
      left:0;
      top:auto;
      border-right: 1px solid $headcol-border-right-color;
      line-height: $project-line-height;
      text-align: left;
    }
    &.today{
      border-bottom:2px solid $today-border-bottom-color;
    }
    .past{
      position:absolute;
      top:0;left:0;right:0;bottom:0;
      z-index: 100001;
      background-color:$passed-days-background-color;
      opacity: $passed-days-opacity;
    }
    input[readonly="readonly"]{
      border:0;
    }
    &.niv-1{
        padding-left:$project-line-niv-1-padding-left;
    }
    &.niv-2{
        padding-left:$project-line-niv-2-padding-left;
    }
    &.niv-3{
        padding-left:$project-line-niv-3-padding-left;
    }
  }
}
.month{
  font-size: $month-font-size;
  color:$month-color;
}
.year{
  @extend .month;
  font-size: $year-font-size;
}

.bar{
  display: block;
  position:absolute;
  z-index: 10000;
  height:$bar-height;
  width:100%;
}
.progress{
  background-color:$progress-bar-background-color;
  z-index: 10001;
  height:100%;
  position:absolute;
}
.leaf:after{
    content:'▼';
    color:$progress-bar-background-color;
    position: absolute;
    right:-4px;
    top:-14px;
    opacity: 1;
  }
.progress-text{
  width: 100%;
  z-index: 100001;
  color:#FFF;
  height: $bar-task-height;
  line-height : $bar-task-height;
  @include bar-top-position($bar-task-height, $project-line-height);
}
.bar--project{
  @extend .bar;
  @include bar-top-position($bar-project-height, $project-line-height);
  height:$bar-project-height;
  background-color:$bar-background-color;
}
.bar--phase{
  @extend .bar;
  @include bar-top-position($bar-phase-height, $project-line-height);
  height:$bar-phase-height;
  background-color:$bar-background-color;
}
.bar--sousphase{
  @extend .bar;
  @include bar-top-position($bar-subphase-height, $project-line-height);
  height: $bar-subphase-height;
  background-color:$bar-background-color;
}
.bar--task{
  @extend .bar;
  @include bar-top-position($bar-task-height, $project-line-height);
  height:$bar-task-height;
  background-color:$bar-task-background-color;
}
.bar--time{
  @extend .bar;
  height:$bar-time-height;
  background-color:$bar-time-background-color;
}
.ui-resizable-ghost
{
  position:relative;
  top:0;
  left:0;
}
.op_low{
  opacity:0.5;
}
.prog-res
{
  position:relative;
}