@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,100italic,300italic,400italic,700italic);
/* http://compass-style.org/reference/compass/support/ */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =SINGLE-LINE
* ----------------------------------- */
.group:before, .horizontal-list:before, .group:after, .horizontal-list:after {
  content: "";
  display: table;
}
.group:after, .horizontal-list:after {
  clear: both;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden.focusable:focus, .visually-hidden.focusable:active {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}

.ir {
  border: 0;
  overflow: hidden;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.lt-ie8 .ir {
  text-indent: 150%;
  white-space: nowrap;
}

.flyout--left {
  position: absolute;
  left: -50%;
  top: 50%;
}

.flyout--right {
  position: absolute;
  right: -50%;
  top: 50%;
}

.flyout--top {
  position: absolute;
  top: -50%;
  left: 50%;
}

.flyout--bottom {
  position: absolute;
  bottom: -50%;
  left: 50%;
}

/*
 *
 */
/* =COVERLETS
 * ++++++++++++++++++++++++++++++++++ */
.overlay {
  display: block;
  /* allow the use of inline and inline-block elements */
  position: absolute;
  margin: 0;
  z-index: 100;
}

/* =OVERLAY
 * ----------------------------------- */
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =FULLSCREEN
 * ----------------------------------- */
/* =CONTAINERS
 * ++++++++++++++++++++++++++++++++++ */
.overthrow {
  overflow: auto;
}

/* =MEDIA
* ----------------------------------- */
.media {
  /* 多多 .group provoques white space at the bottom when one of the children is not floated ?? */
}

.media_img {
  float: left;
}

.media_body > :first-child {
  margin-top: 0;
}
.media_body > :last-child {
  margin-bottom: 0;
}

/* =CENTROID
* ----------------------------------- */
.centroid_wrap {
  text-align: center;
}
.centroid_wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* adjusts for white-space */
}

.centroid {
  display: inline-block;
  vertical-align: middle;
}

/* =STYLED-CONTAINERS
 * ++++++++++++++++++++++++++++++++++ */
/* =POLAROID
 * ----------------------------------- */
.polaroid {
  background-color: white;
  margin: 1.14286em 0;
  padding: 0.57143em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

/*
 * Use silent classes or not
*/
/*
 * Define grid
 *
 * compensating left and right margins of left and rightmost grid_modules in grid
*/
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
}

/*
 * Grid units
 *
 * - 1. grid modules are 100% by default
 * - 2. allows for padding without modifying the box width
 * - 3. gutters created using padding
 * - 4. using inline-block to stack the modules side by side (comment out white space in html)
 * - 5. align top of modules
*/
.grid__module {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
}

/*
 * proportionnaly nudge things to the left
 *
 * - using relative positioning and left positions
 * - combined with pull classes, this allows for more complex content choreography
*/
/*
 * proportionnaly nudge things to the right
 *
 * - using relative positioning and right positions
 * - combined with pull classes, this allows for more complex content choreography
*/
/*
 * In SASS, you cannot extend classes that are not in the same media queries / context
 *
 * - The code belows generate (silent) classes for all the defined media queries breakpoints
 * - This imply that you are using a mobile first approach
*/
/*
 * include basic non-namespaced (silent) classes without any media queries
*/
.span-full {
  width: 100%;
}

.span-1of2, .span-2of4, .span-2of6, .span-4of8, .span-5of10, .span-6of12 {
  width: 50%;
}

.span-1of3, .span-3of6, .span-4of12 {
  width: 33.333%;
}

.span-2of3, .span-4of6, .span-8of12 {
  width: 66.666%;
}

.span-1of4, .span-2of8, .span-3of12 {
  width: 25%;
}

.span-3of4, .span-6of8, .span-9of12 {
  width: 75%;
}

.span-1of5, .span-2of10 {
  width: 20%;
}

.span-2of5, .span-4of10 {
  width: 40%;
}

.span-3of5, .span-6of10 {
  width: 60%;
}

.span-4of5, .span-8of10 {
  width: 80%;
}

.span-1of6, .span-2of12 {
  width: 16.666%;
}

.span-5of6, .span-10of12 {
  width: 83.333%;
}

.span-1of8 {
  width: 12.5%;
}

.span-3of8 {
  width: 37.5%;
}

.span-5of8 {
  width: 62.5%;
}

.span-7of8 {
  width: 87.5%;
}

.span-1of10 {
  width: 10%;
}

.span-3of10 {
  width: 30%;
}

.span-7of10 {
  width: 70%;
}

.span-9of10 {
  width: 90%;
}

.span-1of12 {
  width: 8.333%;
}

.span-5of12 {
  width: 41.666%;
}

.span-7of12 {
  width: 58.333%;
}

.span-11of12 {
  width: 91.666%;
}

/*
 * include namespaced (silent) classes for all media queries
 *
 * - the use "with grids" parameter must be set to true when defining breakpoints in variables.scss
*/
@media only screen and (max-width: 18.75em) {
  .micro-span-full {
    width: 100%;
  }

  .micro-span-1of2, .micro-span-2of4, .micro-span-2of6, .micro-span-4of8, .micro-span-5of10, .micro-span-6of12 {
    width: 50%;
  }

  .micro-span-1of3, .micro-span-3of6, .micro-span-4of12 {
    width: 33.333%;
  }

  .micro-span-2of3, .micro-span-4of6, .micro-span-8of12 {
    width: 66.666%;
  }

  .micro-span-1of4, .micro-span-2of8, .micro-span-3of12 {
    width: 25%;
  }

  .micro-span-3of4, .micro-span-6of8, .micro-span-9of12 {
    width: 75%;
  }

  .micro-span-1of5, .micro-span-2of10 {
    width: 20%;
  }

  .micro-span-2of5, .micro-span-4of10 {
    width: 40%;
  }

  .micro-span-3of5, .micro-span-6of10 {
    width: 60%;
  }

  .micro-span-4of5, .micro-span-8of10 {
    width: 80%;
  }

  .micro-span-1of6, .micro-span-2of12 {
    width: 16.666%;
  }

  .micro-span-5of6, .micro-span-10of12 {
    width: 83.333%;
  }

  .micro-span-1of8 {
    width: 12.5%;
  }

  .micro-span-3of8 {
    width: 37.5%;
  }

  .micro-span-5of8 {
    width: 62.5%;
  }

  .micro-span-7of8 {
    width: 87.5%;
  }

  .micro-span-1of10 {
    width: 10%;
  }

  .micro-span-3of10 {
    width: 30%;
  }

  .micro-span-7of10 {
    width: 70%;
  }

  .micro-span-9of10 {
    width: 90%;
  }

  .micro-span-1of12 {
    width: 8.333%;
  }

  .micro-span-5of12 {
    width: 41.666%;
  }

  .micro-span-7of12 {
    width: 58.333%;
  }

  .micro-span-11of12 {
    width: 91.666%;
  }
}
@media only screen and (min-width: 23.75em) {
  .small-span-full {
    width: 100%;
  }

  .small-span-1of2, .small-span-2of4, .small-span-2of6, .small-span-4of8, .small-span-5of10, .small-span-6of12 {
    width: 50%;
  }

  .small-span-1of3, .small-span-3of6, .small-span-4of12 {
    width: 33.333%;
  }

  .small-span-2of3, .small-span-4of6, .small-span-8of12 {
    width: 66.666%;
  }

  .small-span-1of4, .small-span-2of8, .small-span-3of12 {
    width: 25%;
  }

  .small-span-3of4, .small-span-6of8, .small-span-9of12 {
    width: 75%;
  }

  .small-span-1of5, .small-span-2of10 {
    width: 20%;
  }

  .small-span-2of5, .small-span-4of10 {
    width: 40%;
  }

  .small-span-3of5, .small-span-6of10 {
    width: 60%;
  }

  .small-span-4of5, .small-span-8of10 {
    width: 80%;
  }

  .small-span-1of6, .small-span-2of12 {
    width: 16.666%;
  }

  .small-span-5of6, .small-span-10of12 {
    width: 83.333%;
  }

  .small-span-1of8 {
    width: 12.5%;
  }

  .small-span-3of8 {
    width: 37.5%;
  }

  .small-span-5of8 {
    width: 62.5%;
  }

  .small-span-7of8 {
    width: 87.5%;
  }

  .small-span-1of10 {
    width: 10%;
  }

  .small-span-3of10 {
    width: 30%;
  }

  .small-span-7of10 {
    width: 70%;
  }

  .small-span-9of10 {
    width: 90%;
  }

  .small-span-1of12 {
    width: 8.333%;
  }

  .small-span-5of12 {
    width: 41.666%;
  }

  .small-span-7of12 {
    width: 58.333%;
  }

  .small-span-11of12 {
    width: 91.666%;
  }
}
@media only screen and (min-width: 31.25em) {
  .intermediate-span-full {
    width: 100%;
  }

  .intermediate-span-1of2, .intermediate-span-2of4, .intermediate-span-2of6, .intermediate-span-4of8, .intermediate-span-5of10, .intermediate-span-6of12 {
    width: 50%;
  }

  .intermediate-span-1of3, .intermediate-span-3of6, .intermediate-span-4of12 {
    width: 33.333%;
  }

  .intermediate-span-2of3, .intermediate-span-4of6, .intermediate-span-8of12 {
    width: 66.666%;
  }

  .intermediate-span-1of4, .intermediate-span-2of8, .intermediate-span-3of12 {
    width: 25%;
  }

  .intermediate-span-3of4, .intermediate-span-6of8, .intermediate-span-9of12 {
    width: 75%;
  }

  .intermediate-span-1of5, .intermediate-span-2of10 {
    width: 20%;
  }

  .intermediate-span-2of5, .intermediate-span-4of10 {
    width: 40%;
  }

  .intermediate-span-3of5, .intermediate-span-6of10 {
    width: 60%;
  }

  .intermediate-span-4of5, .intermediate-span-8of10 {
    width: 80%;
  }

  .intermediate-span-1of6, .intermediate-span-2of12 {
    width: 16.666%;
  }

  .intermediate-span-5of6, .intermediate-span-10of12 {
    width: 83.333%;
  }

  .intermediate-span-1of8 {
    width: 12.5%;
  }

  .intermediate-span-3of8 {
    width: 37.5%;
  }

  .intermediate-span-5of8 {
    width: 62.5%;
  }

  .intermediate-span-7of8 {
    width: 87.5%;
  }

  .intermediate-span-1of10 {
    width: 10%;
  }

  .intermediate-span-3of10 {
    width: 30%;
  }

  .intermediate-span-7of10 {
    width: 70%;
  }

  .intermediate-span-9of10 {
    width: 90%;
  }

  .intermediate-span-1of12 {
    width: 8.333%;
  }

  .intermediate-span-5of12 {
    width: 41.666%;
  }

  .intermediate-span-7of12 {
    width: 58.333%;
  }

  .intermediate-span-11of12 {
    width: 91.666%;
  }
}
@media only screen and (min-width: 37.5em) {
  .medium-span-full {
    width: 100%;
  }

  .medium-span-1of2, .medium-span-2of4, .medium-span-2of6, .medium-span-4of8, .medium-span-5of10, .medium-span-6of12 {
    width: 50%;
  }

  .medium-span-1of3, .medium-span-3of6, .medium-span-4of12 {
    width: 33.333%;
  }

  .medium-span-2of3, .medium-span-4of6, .medium-span-8of12 {
    width: 66.666%;
  }

  .medium-span-1of4, .medium-span-2of8, .medium-span-3of12 {
    width: 25%;
  }

  .medium-span-3of4, .medium-span-6of8, .medium-span-9of12 {
    width: 75%;
  }

  .medium-span-1of5, .medium-span-2of10 {
    width: 20%;
  }

  .medium-span-2of5, .medium-span-4of10 {
    width: 40%;
  }

  .medium-span-3of5, .medium-span-6of10 {
    width: 60%;
  }

  .medium-span-4of5, .medium-span-8of10 {
    width: 80%;
  }

  .medium-span-1of6, .medium-span-2of12 {
    width: 16.666%;
  }

  .medium-span-5of6, .medium-span-10of12 {
    width: 83.333%;
  }

  .medium-span-1of8 {
    width: 12.5%;
  }

  .medium-span-3of8 {
    width: 37.5%;
  }

  .medium-span-5of8 {
    width: 62.5%;
  }

  .medium-span-7of8 {
    width: 87.5%;
  }

  .medium-span-1of10 {
    width: 10%;
  }

  .medium-span-3of10 {
    width: 30%;
  }

  .medium-span-7of10 {
    width: 70%;
  }

  .medium-span-9of10 {
    width: 90%;
  }

  .medium-span-1of12 {
    width: 8.333%;
  }

  .medium-span-5of12 {
    width: 41.666%;
  }

  .medium-span-7of12 {
    width: 58.333%;
  }

  .medium-span-11of12 {
    width: 91.666%;
  }
}
@media only screen and (min-width: 50em) {
  .large-span-full {
    width: 100%;
  }

  .large-span-1of2, .large-span-2of4, .large-span-2of6, .large-span-4of8, .large-span-5of10, .large-span-6of12 {
    width: 50%;
  }

  .large-span-1of3, .large-span-3of6, .large-span-4of12 {
    width: 33.333%;
  }

  .large-span-2of3, .large-span-4of6, .large-span-8of12 {
    width: 66.666%;
  }

  .large-span-1of4, .large-span-2of8, .large-span-3of12 {
    width: 25%;
  }

  .large-span-3of4, .large-span-6of8, .large-span-9of12 {
    width: 75%;
  }

  .large-span-1of5, .large-span-2of10 {
    width: 20%;
  }

  .large-span-2of5, .large-span-4of10 {
    width: 40%;
  }

  .large-span-3of5, .large-span-6of10 {
    width: 60%;
  }

  .large-span-4of5, .large-span-8of10 {
    width: 80%;
  }

  .large-span-1of6, .large-span-2of12 {
    width: 16.666%;
  }

  .large-span-5of6, .large-span-10of12 {
    width: 83.333%;
  }

  .large-span-1of8 {
    width: 12.5%;
  }

  .large-span-3of8 {
    width: 37.5%;
  }

  .large-span-5of8 {
    width: 62.5%;
  }

  .large-span-7of8 {
    width: 87.5%;
  }

  .large-span-1of10 {
    width: 10%;
  }

  .large-span-3of10 {
    width: 30%;
  }

  .large-span-7of10 {
    width: 70%;
  }

  .large-span-9of10 {
    width: 90%;
  }

  .large-span-1of12 {
    width: 8.333%;
  }

  .large-span-5of12 {
    width: 41.666%;
  }

  .large-span-7of12 {
    width: 58.333%;
  }

  .large-span-11of12 {
    width: 91.666%;
  }
}
@media only screen and (min-width: 58.75em) {
  .big-span-full {
    width: 100%;
  }

  .big-span-1of2, .big-span-2of4, .big-span-2of6, .big-span-4of8, .big-span-5of10, .big-span-6of12 {
    width: 50%;
  }

  .big-span-1of3, .big-span-3of6, .big-span-4of12 {
    width: 33.333%;
  }

  .big-span-2of3, .big-span-4of6, .big-span-8of12 {
    width: 66.666%;
  }

  .big-span-1of4, .big-span-2of8, .big-span-3of12 {
    width: 25%;
  }

  .big-span-3of4, .big-span-6of8, .big-span-9of12 {
    width: 75%;
  }

  .big-span-1of5, .big-span-2of10 {
    width: 20%;
  }

  .big-span-2of5, .big-span-4of10 {
    width: 40%;
  }

  .big-span-3of5, .big-span-6of10 {
    width: 60%;
  }

  .big-span-4of5, .big-span-8of10 {
    width: 80%;
  }

  .big-span-1of6, .big-span-2of12 {
    width: 16.666%;
  }

  .big-span-5of6, .big-span-10of12 {
    width: 83.333%;
  }

  .big-span-1of8 {
    width: 12.5%;
  }

  .big-span-3of8 {
    width: 37.5%;
  }

  .big-span-5of8 {
    width: 62.5%;
  }

  .big-span-7of8 {
    width: 87.5%;
  }

  .big-span-1of10 {
    width: 10%;
  }

  .big-span-3of10 {
    width: 30%;
  }

  .big-span-7of10 {
    width: 70%;
  }

  .big-span-9of10 {
    width: 90%;
  }

  .big-span-1of12 {
    width: 8.333%;
  }

  .big-span-5of12 {
    width: 41.666%;
  }

  .big-span-7of12 {
    width: 58.333%;
  }

  .big-span-11of12 {
    width: 91.666%;
  }
}
@media only screen and (min-width: 68.75em) {
  .huge-span-full {
    width: 100%;
  }

  .huge-span-1of2, .huge-span-2of4, .huge-span-2of6, .huge-span-4of8, .huge-span-5of10, .huge-span-6of12 {
    width: 50%;
  }

  .huge-span-1of3, .huge-span-3of6, .huge-span-4of12 {
    width: 33.333%;
  }

  .huge-span-2of3, .huge-span-4of6, .huge-span-8of12 {
    width: 66.666%;
  }

  .huge-span-1of4, .huge-span-2of8, .huge-span-3of12 {
    width: 25%;
  }

  .huge-span-3of4, .huge-span-6of8, .huge-span-9of12 {
    width: 75%;
  }

  .huge-span-1of5, .huge-span-2of10 {
    width: 20%;
  }

  .huge-span-2of5, .huge-span-4of10 {
    width: 40%;
  }

  .huge-span-3of5, .huge-span-6of10 {
    width: 60%;
  }

  .huge-span-4of5, .huge-span-8of10 {
    width: 80%;
  }

  .huge-span-1of6, .huge-span-2of12 {
    width: 16.666%;
  }

  .huge-span-5of6, .huge-span-10of12 {
    width: 83.333%;
  }

  .huge-span-1of8 {
    width: 12.5%;
  }

  .huge-span-3of8 {
    width: 37.5%;
  }

  .huge-span-5of8 {
    width: 62.5%;
  }

  .huge-span-7of8 {
    width: 87.5%;
  }

  .huge-span-1of10 {
    width: 10%;
  }

  .huge-span-3of10 {
    width: 30%;
  }

  .huge-span-7of10 {
    width: 70%;
  }

  .huge-span-9of10 {
    width: 90%;
  }

  .huge-span-1of12 {
    width: 8.333%;
  }

  .huge-span-5of12 {
    width: 41.666%;
  }

  .huge-span-7of12 {
    width: 58.333%;
  }

  .huge-span-11of12 {
    width: 91.666%;
  }
}
/* =FONTS
 *  ================================== */
/* =FONTS-BASE
 * +++++++++++++++++++++++++++++++++++ */
@font-face {
  font-family: 'brandon_grotesque';
  src: url("../fonts/brandon_med-webfont.eot");
  src: url("../fonts/brandon_med-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med-webfont.woff") format("woff"), url("../fonts/brandon_med-webfont.ttf") format("truetype"), url("../fonts/brandon_med-webfont.svg#brandon_grotesquemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =LISTS
 *  ================================== */
/* =LIST-ABSTRACT
 * +++++++++++++++++++++++++++++++++++ */
.ui-list, .banner-list, .block-list, .horizontal-list, .form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-list {
  word-spacing: 0.71429em;
}

.banner-list_item {
  display: inline-block;
}

/* =LIST-COMPONENTS
 * +++++++++++++++++++++++++++++++++++ */
/* =BLOCK-LIST
 * ----------------------------------- */
.block-list_item {
  display: block;
  padding: 1.14286em 0;
}

.block-list_active {
  background-color: #e0e1e6;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.block-list_link {
  margin: -1.14286em 0;
}

/* =HORIZONTAL-LIST
 * ----------------------------------- */
.horizontal-list_item {
  float: left;
  margin-left: 10px;
  /* IE8 does not support rems */
  margin-left: 0.71429rem;
}

.horizontal-list_item:first-child {
  margin-left: 0;
}

/* =BANNER-LIST
 * ----------------------------------- */
.banner-list {
  text-align: center;
}

/* =CODE-LIST
 * ----------------------------------- */
.code-list {
  background-color: white;
  counter-reset: item;
  list-style: none;
  border: 1px solid #202a3a;
  font-weight: 200;
  line-height: 1.80;
  white-space: nowrap;
  overflow: scroll;
  padding-right: 2em;
}

.code-list_item {
  display: block;
}
.code-list_item:before {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  content: counter(item) "";
  counter-increment: item;
  width: 2em;
  margin-left: -3em;
  text-align: center;
  margin-right: 1em;
  color: white;
  background-color: #202a3a;
}

/* =STYLES-LISTS
 * +++++++++++++++++++++++++++++++++++ */
/* =FLUID-MEDIA
 * ++++++++++++++++++++++++++++++++++ */
/* =FLUID-OBJECTS
* ----------------------------------- */
[data-object-fit] {
  background-position: center;
  /* IE 7/8 rely on this only */
  background-repeat: no-repeat;
}
[data-object-fit] img {
  visibility: hidden;
}

[data-object-fit="cover"] {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

[data-object-fit="contain"] {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/* =FLUID-IMAGES
* ----------------------------------- */
.img_holder {
  display: block;
  margin: 0;
  padding: 0;
}
.img_holder img {
  display: block;
  /* removes spacing at bottom */
  max-width: 100%;
}

.img_holder_center img {
  margin: 0 auto;
}

/* =FRAME
* ----------------------------------- */
.frame {
  position: relative;
  width: 100%;
  height: 0;
}
.frame.ratio-1to-9 {
  padding-top: 56.25%;
}
.frame.ratio-3to2 {
  padding-top: 66.66667%;
}
.frame.ratio-4to3 {
  padding-top: 75%;
}
.frame.ratio-16to9 {
  padding-top: 56.25%;
}
.frame.ratio-scope {
  padding-top: 42.55319%;
}
.frame.ratio-square {
  padding-top: 100%;
}

/* =FLEX-FRAME
* ----------------------------------- */
.flex-frame {
  margin: 0;
  max-width: 1024px;
}

.flex-frame_innr {
  padding-top: 36.36364%;
  height: 203.63636px;
}

/* =PILL
* ----------------------------------- */
.pill, .pill-round {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 0 1px #151515, 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0 1px #151515, 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px #151515, 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* =ROUND PILL
* ----------------------------------- */
.pill-round {
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
}

/* =ICON-ABSTRACT
 * ++++++++++++++++++++++++++++++++++ */
@font-face {
  font-family: 'portfolio';
  src: url("../fonts/portfolio.eot");
  src: url("../fonts/portfolio.eot?#iefix") format("embedded-opentype"), url("../fonts/portfolio.woff") format("woff"), url("../fonts/portfolio.ttf") format("truetype"), url("../fonts/portfolio.svg#nomad-suite") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon] {
  line-height: inherit;
  font-family: "portfolio";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

[data-icon]:before {
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* =ICON-MODIFIERS
 * ++++++++++++++++++++++++++++++++++ */
.icon--small {
  font-size: 12px;
}

.icon--big {
  font-size: 19px;
}

.icon--huge {
  font-size: 22px;
}

.icon--giant {
  font-size: 46px;
}

/* =ICON-COMPONENTS
 * ++++++++++++++++++++++++++++++++++ */
/* =ICON-ALONE
 * ---------------------------------- */
/* =ICON-TEXT
 * ---------------------------------- */
/* TIP : MAKE '.icon-label' EXTEND '%visually-hidden' TO HIDE IT AND USE A RESPONSIVE
 * '%breakpoint-reveal' CLASS TO SHOW THE LABEL AGAIN AT GIVEN BREAKPOINT */
.icon-text [data-icon], .text-icon [data-icon] {
  width: 36px;
  text-align: center;
}

.icon-text [data-icon] {
  margin-right: 10px;
}

/* =TEXT-ICON
 * ---------------------------------- */
.text-icon [data-icon] {
  float: right;
  margin-left: 10px;
}

/* =ICON-CLASSES
 * ---------------------------------- */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'portfolio';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e600";
}

.icon-skype:before {
  content: "\e601";
}

.icon-phone:before {
  content: "\e602";
}

.icon-twitter:before {
  content: "\e603";
}

.icon-arrow-right:before {
  content: "\e604";
}

.icon-arrow-left:before {
  content: "\e605";
}

/* =LINK-ABSTRACT
 * +++++++++++++++++++++++++++++++++++ */
/* =MAIN-LINKS
 * ----------------------------------- */
a,
.link {
  color: #3598db;
  text-decoration: none;
}
a:visited,
.link:visited {
  color: #2777ad;
}
a:hover, a:active,
.link:hover,
.link:active {
  color: #2777ad;
}
a:focus,
.link:focus {
  text-decoration: none;
}
a.disabled,
.link.disabled {
  opacity: 0.75;
  cursor: default;
  pointer-events: none;
}

/* =UI-LINKS
 * ----------------------------------- */
.ui a,
.ui .link {
  color: #606060;
}
.ui a:visited,
.ui .link:visited {
  color: white;
}
.ui a:hover, .ui a:active,
.ui .link:hover,
.ui .link:active {
  color: white;
}
.ui a:active,
.ui .link:active {
  background-color: #252525;
}

/* =RESET-LINKS
 * ----------------------------------- */
/* =BUTTON-ABSTRACT
 * ++++++++++++++++++++++++++++++++++ */
.btn, .icon-btn {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 400 1.07143em/2.4 "Lato", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  /* adapt line-height for contained icons that were resized */
}
.btn .icon--small, .icon-btn .icon--small {
  line-height: 3;
}
.btn .icon--big, .icon-btn .icon--big {
  line-height: 1.89474;
}
.btn .icon--huge, .icon-btn .icon--huge {
  line-height: 1.63636;
}
.btn .icon--giant, .icon-btn .icon--giant {
  line-height: 0.78261;
}

input.btn, input.icon-btn,
button.btn,
button.icon-btn {
  height: 2.4em;
  /* FF doesn't take custom line-heights */
  border: none;
  background-image: none;
  /* reset gradient effects on FF mobile */
}

label.btn, label.icon-btn {
  cursor: pointer;
}

.btn {
  padding: 0 1.2em;
}

.icon-btn {
  width: 2.4em;
  height: 2.4em;
  padding: 0;
}

/* =BUTTON-POSITIONS
 * ----------------------------------- */
/* ¡¡ was 0.35 ¡¡ */
/* ¡¡ was 0.35 ¡¡ */
/* ¡¡ was 0.35 ¡¡ */
/* ¡¡ was 0.35 ¡¡ */
/* =BUTTON-MODIFIERS
 * ++++++++++++++++++++++++++++++++++ */
/* =BUTTON-HEIGHTS
 * ----------------------------------- */
.btn--small {
  line-height: 1.6;
}
.btn--small.btn {
  padding: 0 0.92308em;
}
.btn--small.icon-btn {
  width: 1.6em;
  height: 1.6em;
}
.btn--small .icon--small {
  line-height: 2;
}
.btn--small .icon--big {
  line-height: 1.26316;
}
.btn--small .icon--huge {
  line-height: 1.09091;
}
.btn--small .icon--giant {
  line-height: 0.52174;
}

input.btn--small,
button.btn-small {
  height: 1.6em;
}

.btn--big {
  line-height: 2.93333;
}
.btn--big.btn {
  padding: 0 1.46667em;
}
.btn--big.icon-btn {
  width: 2.93333em;
  height: 2.93333em;
}
.btn--big .icon--small {
  line-height: 3.66667;
}
.btn--big .icon--big {
  line-height: 2.31579;
}
.btn--big .icon--huge {
  line-height: 2;
}
.btn--big .icon--giant {
  line-height: 0.95652;
}

input.btn--big,
button.btn--big {
  height: 2.93333em;
}

.btn--huge {
  line-height: 3.33333;
}
.btn--huge.btn {
  padding: 0 1.66667em;
}
.btn--huge.icon-btn {
  width: 3.33333em;
  height: 3.33333em;
}
.btn--huge .icon--small {
  line-height: 4.16667;
}
.btn--huge .icon--big {
  line-height: 2.63158;
}
.btn--huge .icon--huge {
  line-height: 2.27273;
}
.btn--huge .icon--giant {
  line-height: 1.08696;
}

input.btn--huge,
button.btn--huge {
  height: 3.33333em;
}

.btn--giant {
  line-height: 3.6;
}
.btn--giant.btn {
  padding: 0 1.8em;
}
.btn--giant.icon-btn {
  width: 3.6em;
  height: 3.6em;
}
.btn--giant .icon--small {
  line-height: 4.5;
}
.btn--giant .icon--big {
  line-height: 2.84211;
}
.btn--giant .icon--huge {
  line-height: 2.45455;
}
.btn--giant .icon--giant {
  line-height: 1.17391;
}

input.btn--giant,
button.btn--giant {
  height: 3.6em;
}

/* =BUTTON-WIDTHS
 * ----------------------------------- */
.btn--compact {
  width: 36px;
  /* IE8 fallback */
  width: 2.57143rem;
  padding: 0;
}

.btn--medium {
  min-width: 100px;
  /* IE8 fallback */
  min-width: 7.14286rem;
}

.btn--fat {
  min-width: 150px;
  /* IE8 fallback */
  min-width: 10.71429rem;
}

.btn--expand {
  display: block;
}

input.btn--expand,
button.btn--expand {
  width: 100%;
}

/* =BUTTON-STYLES
 * ----------------------------------- */
.btn--round, .regular-btn, .btn-credentials, .btn-info, .btn-valid, .btn-warning, .btn-error {
  -webkit-border-radius: 0.28571rem;
  -moz-border-radius: 0.28571rem;
  -ms-border-radius: 0.28571rem;
  -o-border-radius: 0.28571rem;
  border-radius: 0.28571rem;
}

.btn--circle {
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
  border-radius: 36px;
}

.btn--embossed {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.ui .btn--embossed {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.ui .btn--embossed:hover, .ui .btn--embossed:active {
  background: #252525;
}
.btn--embossed:active {
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 0, 0, 0, transparent;
  -moz-box-shadow: 0, 0, 0, transparent;
  box-shadow: 0, 0, 0, transparent;
}

.btn--transparent {
  color: white;
  background-color: transparent;
}
.btn--transparent:hover, .btn--transparent:active {
  color: white;
}
.btn--transparent:active {
  background-color: rgba(0, 0, 0, 0.2);
}

/* =BUTTON-SEMANTICS
 * ++++++++++++++++++++++++++++++++++ */
.social-btn, .btn-credentials, .btn-info, .btn-valid, .btn-warning, .btn-error {
  color: white;
}
.inactive.social-btn, .inactive.btn-credentials, .inactive.btn-info, .inactive.btn-valid, .inactive.btn-warning, .inactive.btn-error {
  color: #b2b2b2;
  background-color: #e0e1e6;
}
.ui .inactive.social-btn, .ui .inactive.btn-credentials, .ui .inactive.btn-info, .ui .inactive.btn-valid, .ui .inactive.btn-warning, .ui .inactive.btn-error, .ui [data-switch="off"].social-btn, .ui [data-switch="off"].btn-credentials, .ui [data-switch="off"].btn-info, .ui [data-switch="off"].btn-valid, .ui [data-switch="off"].btn-warning, .ui [data-switch="off"].btn-error {
  color: #606060;
  background-color: #151515;
}
.ui--well .inactive.social-btn, .ui--well .inactive.btn-credentials, .ui--well .inactive.btn-info, .ui--well .inactive.btn-valid, .ui--well .inactive.btn-warning, .ui--well .inactive.btn-error, .ui--well [data-switch="off"].social-btn, .ui--well [data-switch="off"].btn-credentials, .ui--well [data-switch="off"].btn-info, .ui--well [data-switch="off"].btn-valid, .ui--well [data-switch="off"].btn-warning, .ui--well [data-switch="off"].btn-error {
  background-color: #1e1e1e;
}
.social-btn:hover, .btn-credentials:hover, .btn-info:hover, .btn-valid:hover, .btn-warning:hover, .btn-error:hover, .social-btn:active, .btn-credentials:active, .btn-info:active, .btn-valid:active, .btn-warning:active, .btn-error:active, .ui .social-btn:hover, .ui .btn-credentials:hover, .ui .btn-info:hover, .ui .btn-valid:hover, .ui .btn-warning:hover, .ui .btn-error:hover, .ui .social-btn:active, .ui .btn-credentials:active, .ui .btn-info:active, .ui .btn-valid:active, .ui .btn-warning:active, .ui .btn-error:active {
  color: white;
}

a.social-btn, a.btn-credentials, a.btn-info, a.btn-valid, a.btn-warning, a.btn-error {
  color: white;
}

/* =BUTTON-COMPONENTS
 * ++++++++++++++++++++++++++++++++++ */
/* MAIN-BTN
 * ----------------------------------- */
.regular-btn {
  background-color: white;
}
.ui .regular-btn {
  background-color: transparent;
}
.ui .regular-btn:disabled, .ui .regular-btn.disabled {
  background-color: #151515;
}
.ui--well .regular-btn {
  background-color: #1e1e1e;
}

/* SOCIAL-BTN
 * ----------------------------------- */
.btn--twitter {
  background-color: #2ba9e1;
}
.btn--twitter:hover, .btn--twitter:active {
  background-color: #4fb7e6;
}

.btn--facebook {
  background-color: #3b5998;
}
.btn--facebook:hover, .btn--facebook:active {
  background-color: #466ab5;
}

.btn--tumblr {
  background-color: #44546b;
}
.btn--tumblr:hover, .btn--tumblr:active {
  background-color: #546884;
}

.btn--instagram {
  background-color: #396a90;
}
.btn--instagram:hover, .btn--instagram:active {
  background-color: #4580ad;
}

.btn--foursquare {
  background-color: #3ab6e8;
}
.btn--foursquare:hover, .btn--foursquare:active {
  background-color: #5fc4ec;
}

.btn--googleplus {
  background-color: #d54135;
}
.btn--googleplus:hover, .btn--googleplus:active {
  background-color: #dc6157;
}

.btn--vimeo {
  background-color: #80bee5;
}
.btn--vimeo:hover, .btn--vimeo:active {
  background-color: #a2cfec;
}

/* ACTION-BTN
* ----------------------------------- */
.btn-credentials, .btn-info {
  background-color: #3598db;
}
.btn-credentials:hover, .btn-credentials:active, .btn-info:hover, .btn-info:active {
  background-color: #2a80b9;
}
.ui--well .btn-credentials:hover, .ui--well .btn-credentials:active, .ui--well .btn-info:hover, .ui--well .btn-info:active {
  background-color: #2a80b9;
}

.btn-valid {
  background-color: #7ee032;
}
.btn-valid:hover, .btn-valid:active {
  background-color: #69bb2a;
}
.ui--well .btn-valid:hover, .ui--well .btn-valid:active {
  background-color: #69bb2a;
}

.btn-warning {
  background-color: #f1c40f;
}
.btn-warning:hover, .btn-warning:active {
  background-color: #f39c11;
}
.ui--well .btn-warning:hover, .ui--well .btn-warning:active {
  background-color: #f39c11;
}

.btn-error {
  background-color: #e84c3d;
}
.btn-error:hover, .btn-error:active {
  background-color: #c1392b;
}
.ui--well .btn-error:hover, .ui--well .btn-error:active {
  background-color: #c1392b;
}

.ui-helper-hidden {
  display: none;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
}

.ui-helper-clearfix:after {
  clear: both;
}

.ui-helper-clearfix {
  min-height: 0;
}

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

.ui-front {
  z-index: 100;
}

.ui-state-disabled {
  cursor: default !important;
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin-top: 2px;
  padding: .5em .5em .5em .7em;
  min-height: 0;
}

.ui-accordion .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-noicons {
  padding-left: .7em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
  padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}

.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: .1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
}

.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
  text-decoration: none;
}

.ui-button-icon-only {
  width: 2.2em;
}

button.ui-button-icon-only {
  width: 2.4em;
}

.ui-button-icons-only {
  width: 3.4em;
}

button.ui-button-icons-only {
  width: 3.7em;
}

.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

.ui-button-text-only .ui-button-text {
  padding: .4em 1em;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}

.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}

input.ui-button {
  padding: .4em 1em;
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}

.ui-buttonset {
  margin-right: 7px;
}

.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em;
}

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next {
  right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.ui-datepicker.ui-datepicker-multi {
  width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
}

.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}

.ui-dialog .ui-dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 21px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}

.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}

.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}

.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  font-weight: normal;
}

.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}

.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: .4em 0 .2em;
  line-height: 1.5;
}

.ui-menu .ui-state-disabled a {
  cursor: default;
}

.ui-menu-icons {
  position: relative;
}

.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}

.ui-menu .ui-icon {
  position: absolute;
  top: .2em;
  left: .2em;
}

.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}

.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

.ui-progressbar .ui-progressbar-overlay {
  background: url("images/animated-overlay.gif");
  height: 100%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}

.ui-resizable {
  position: relative;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

.ui-slider {
  position: relative;
  text-align: left;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

.ui-slider-horizontal {
  height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

.ui-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
}

.ui-spinner-input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: .2em 0;
  vertical-align: middle;
  margin-left: .4em;
  margin-right: 22px;
}

.ui-spinner-button {
  width: 16px;
  height: 50%;
  font-size: .5em;
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  cursor: default;
  display: block;
  overflow: hidden;
  right: 0;
}

.ui-spinner a.ui-spinner-button {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.ui-spinner .ui-icon {
  position: absolute;
  margin-top: -8px;
  top: 50%;
  left: 0;
}

.ui-spinner-up {
  top: 0;
}

.ui-spinner-down {
  bottom: 0;
}

.ui-spinner .ui-icon-triangle-1-s {
  background-position: -65px -16px;
}

.ui-tabs {
  position: relative;
  padding: .2em;
}

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom: 0;
  padding: 0;
  white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: .5em 1em;
  text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
  cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
  cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none;
}

.ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

body .ui-tooltip {
  border-width: 2px;
}

.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

.ui-widget .ui-widget {
  font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

.ui-widget-content {
  border: 1px solid #aaa;
  background: white url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #222;
}

.ui-widget-content a {
  color: #222;
}

.ui-widget-header {
  border: 1px solid #aaa;
  background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #222;
  font-weight: bold;
}

.ui-widget-header a {
  color: #222;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #555;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #555;
  text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999;
  background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
  color: #212121;
  text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaa;
  background: white url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #212121;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #212121;
  text-decoration: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
}

.ui-icon {
  width: 16px;
  height: 16px;
  background-position: 16px 16px;
}

.ui-icon, .ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_888888_256x240.png);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png);
}

.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_454545_256x240.png);
}

.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

.ui-icon-carat-1-n {
  background-position: 0 0;
}

.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

.ui-icon-carat-1-e {
  background-position: -32px 0;
}

.ui-icon-carat-1-se {
  background-position: -48px 0;
}

.ui-icon-carat-1-s {
  background-position: -64px 0;
}

.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

.ui-icon-carat-1-w {
  background-position: -96px 0;
}

.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

.ui-icon-extlink {
  background-position: -32px -80px;
}

.ui-icon-newwin {
  background-position: -48px -80px;
}

.ui-icon-refresh {
  background-position: -64px -80px;
}

.ui-icon-shuffle {
  background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

.ui-icon-folder-open {
  background-position: -16px -96px;
}

.ui-icon-document {
  background-position: -32px -96px;
}

.ui-icon-document-b {
  background-position: -48px -96px;
}

.ui-icon-note {
  background-position: -64px -96px;
}

.ui-icon-mail-closed {
  background-position: -80px -96px;
}

.ui-icon-mail-open {
  background-position: -96px -96px;
}

.ui-icon-suitcase {
  background-position: -112px -96px;
}

.ui-icon-comment {
  background-position: -128px -96px;
}

.ui-icon-person {
  background-position: -144px -96px;
}

.ui-icon-print {
  background-position: -160px -96px;
}

.ui-icon-trash {
  background-position: -176px -96px;
}

.ui-icon-locked {
  background-position: -192px -96px;
}

.ui-icon-unlocked {
  background-position: -208px -96px;
}

.ui-icon-bookmark {
  background-position: -224px -96px;
}

.ui-icon-tag {
  background-position: -240px -96px;
}

.ui-icon-home {
  background-position: 0 -112px;
}

.ui-icon-flag {
  background-position: -16px -112px;
}

.ui-icon-calendar {
  background-position: -32px -112px;
}

.ui-icon-cart {
  background-position: -48px -112px;
}

.ui-icon-pencil {
  background-position: -64px -112px;
}

.ui-icon-clock {
  background-position: -80px -112px;
}

.ui-icon-disk {
  background-position: -96px -112px;
}

.ui-icon-calculator {
  background-position: -112px -112px;
}

.ui-icon-zoomin {
  background-position: -128px -112px;
}

.ui-icon-zoomout {
  background-position: -144px -112px;
}

.ui-icon-search {
  background-position: -160px -112px;
}

.ui-icon-wrench {
  background-position: -176px -112px;
}

.ui-icon-gear {
  background-position: -192px -112px;
}

.ui-icon-heart {
  background-position: -208px -112px;
}

.ui-icon-star {
  background-position: -224px -112px;
}

.ui-icon-link {
  background-position: -240px -112px;
}

.ui-icon-cancel {
  background-position: 0 -128px;
}

.ui-icon-plus {
  background-position: -16px -128px;
}

.ui-icon-plusthick {
  background-position: -32px -128px;
}

.ui-icon-minus {
  background-position: -48px -128px;
}

.ui-icon-minusthick {
  background-position: -64px -128px;
}

.ui-icon-close {
  background-position: -80px -128px;
}

.ui-icon-closethick {
  background-position: -96px -128px;
}

.ui-icon-key {
  background-position: -112px -128px;
}

.ui-icon-lightbulb {
  background-position: -128px -128px;
}

.ui-icon-scissors {
  background-position: -144px -128px;
}

.ui-icon-clipboard {
  background-position: -160px -128px;
}

.ui-icon-copy {
  background-position: -176px -128px;
}

.ui-icon-contact {
  background-position: -192px -128px;
}

.ui-icon-image {
  background-position: -208px -128px;
}

.ui-icon-video {
  background-position: -224px -128px;
}

.ui-icon-script {
  background-position: -240px -128px;
}

.ui-icon-alert {
  background-position: 0 -144px;
}

.ui-icon-info {
  background-position: -16px -144px;
}

.ui-icon-notice {
  background-position: -32px -144px;
}

.ui-icon-help {
  background-position: -48px -144px;
}

.ui-icon-check {
  background-position: -64px -144px;
}

.ui-icon-bullet {
  background-position: -80px -144px;
}

.ui-icon-radio-on {
  background-position: -96px -144px;
}

.ui-icon-radio-off {
  background-position: -112px -144px;
}

.ui-icon-pin-w {
  background-position: -128px -144px;
}

.ui-icon-pin-s {
  background-position: -144px -144px;
}

.ui-icon-play {
  background-position: 0 -160px;
}

.ui-icon-pause {
  background-position: -16px -160px;
}

.ui-icon-seek-next {
  background-position: -32px -160px;
}

.ui-icon-seek-prev {
  background-position: -48px -160px;
}

.ui-icon-seek-end {
  background-position: -64px -160px;
}

.ui-icon-seek-start {
  background-position: -80px -160px;
}

.ui-icon-seek-first {
  background-position: -80px -160px;
}

.ui-icon-stop {
  background-position: -96px -160px;
}

.ui-icon-eject {
  background-position: -112px -160px;
}

.ui-icon-volume-off {
  background-position: -128px -160px;
}

.ui-icon-volume-on {
  background-position: -144px -160px;
}

.ui-icon-power {
  background-position: 0 -176px;
}

.ui-icon-signal-diag {
  background-position: -16px -176px;
}

.ui-icon-signal {
  background-position: -32px -176px;
}

.ui-icon-battery-0 {
  background-position: -48px -176px;
}

.ui-icon-battery-1 {
  background-position: -64px -176px;
}

.ui-icon-battery-2 {
  background-position: -80px -176px;
}

.ui-icon-battery-3 {
  background-position: -96px -176px;
}

.ui-icon-circle-plus {
  background-position: 0 -192px;
}

.ui-icon-circle-minus {
  background-position: -16px -192px;
}

.ui-icon-circle-close {
  background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

.ui-icon-circle-check {
  background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 4px;
}

.ui-widget-overlay {
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
}

.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: .3;
  filter: Alpha(Opacity=30);
  border-radius: 8px;
}

.js .preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* webfont active typesetting */
.wf-active {
  font: normal 87.5%/1.4 "Lato", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
}

body {
  font: normal 87.5%/1.4 "Lato", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
  background: #fafafa;
  color: #202a3a;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.grid-test {
  height: 400px;
  background: purple;
  overflow: scroll;
}

.grid-test:nth-child(odd) {
  background: yellow;
  margin-bottom: 5em;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@media only screen and (min-width: 58.75em) {
  .inner-wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
body {
  margin: 0 20px;
  background-color: #E8E9EE;
  color: #303742;
}

/*
|---------------------------------------------------------------------
|  =PROJECTS-TABLE
|---------------------------------------------------------------------
*/
.projects_container {
  margin-left: 400px;
  overflow-x: scroll;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}
.projects_container * {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.projects_table {
  border-collapse: separate;
}
.projects_table tbody::before {
  content: '';
  display: block;
  height: 50px;
}
.projects_table tr {
  height: 50px;
}
.projects_table tr.head_table td {
  border-right: none;
  background-color: #f2f3f7;
}
.projects_table tr.head_table td:first-child {
  text-transform: uppercase;
  color: #70c64b;
  border-right: 1px solid #d6d6db;
}
.projects_table td, .projects_table th {
  margin: 0;
  border-top-width: 0px;
  white-space: nowrap;
  background: white;
}
.projects_table td {
  position: relative;
  height: 50px;
  min-width: 50px;
  text-align: center;
  border-right: 1px dashed #ececec;
}
.projects_table td.week {
  min-width: 350px;
}
.projects_table td:last-child {
  border-right: none;
}
.projects_table td.passed {
  border: none;
}
.projects_table td.headcol {
  position: absolute;
  min-width: 400px;
  padding-left: 15px;
  width: 400px;
  left: 0;
  top: auto;
  border-right: 1px solid #d6d6db;
  line-height: 50px;
  text-align: left;
}
.projects_table td.today {
  border-bottom: 2px solid #7ee032;
}
.projects_table td .past {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100001;
  background-color: black;
  opacity: 0.1;
}
.projects_table td input[readonly="readonly"] {
  border: 0;
}
.projects_table td.niv-1 {
  padding-left: 40px;
}
.projects_table td.niv-2 {
  padding-left: 80px;
}
.projects_table td.niv-3 {
  padding-left: 120px;
}

.month, .year {
  font-size: 10px;
  color: #d6d6db;
}

.year {
  font-size: 16px;
}

.bar, .bar--project, .bar--phase, .bar--sousphase, .bar--task, .bar--time {
  display: block;
  position: absolute;
  z-index: 10000;
  height: 10px;
  width: 100%;
}

.progress {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10001;
  height: 100%;
  position: absolute;
}

.leaf:after {
  content: '▼';
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -4px;
  top: -14px;
  opacity: 1;
}

.progress-text {
  width: 100%;
  z-index: 100001;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  top: 10px;
}

.bar--project {
  top: 18px;
  height: 14px;
  background-color: #f2f3f7;
}

.bar--phase {
  top: 21px;
  height: 8px;
  background-color: #f2f3f7;
}

.bar--sousphase {
  top: 23px;
  height: 4px;
  background-color: #f2f3f7;
}

.bar--task {
  top: 10px;
  height: 30px;
  background-color: #7ee032;
}

.bar--time {
  height: 30px;
  background-color: #7ee032;
}

.ui-resizable-ghost {
  position: relative;
  top: 0;
  left: 0;
}

.op_low {
  opacity: 0.5;
}

.prog-res {
  position: relative;
}

a {
  text-decoration: none;
  color: #000000;
}

.controller {
  display: inline-block;
  padding: 2em 0;
}

.controller_item {
  float: left;
  margin-right: 1.14286em;
}

.block-assign {
  background-color: #fff;
  position: absolute;
  z-index: 20000;
  width: 300px;
}

.head-title {
  background: #f2f3f7;
  width: 100%;
  padding: .5em .5em;
  font: "Lato";
  font-weight: 300;
  margin: 0;
}

.control-footer {
  width: 50%;
  display: inline-block;
}
.control-footer a {
  border-radius: 0;
}

.assignment-content {
  padding: 1em 1em;
}

input, textarea {
  border: 0;
  padding: .3em 0;
  background-color: #f2f3f7;
}

input[readonly="readonly"], textarea[readonly="readonly"] {
  background-color: white;
}

.assign-label {
  color: #7ee032;
  padding-left: .5em;
}

.assign-input {
  padding: .5em 0;
  margin: .3em 0;
  display: inline-block;
}

.assign-input-left input, .assign-input-left textarea,
.assign-input-right input, .assign-input-right textarea,
.assign-input-date input, .assign-input-date textarea {
  padding: .6em .5em;
  width: 100%;
}

.assign-input-left {
  width: 80%;
  padding-right: .3em;
}

.assign-input-right {
  width: 20%;
}

.btn-cancelify {
  background: #f2f3f7;
}

.assign-input-date {
  width: 50%;
}
.assign-input-date:first-child {
  padding-right: .3em;
}
.assign-input-date:last-child {
  padding-left: .3em;
}

.head-title {
  color: #7ee032;
  font-size: 1.42857em;
}
