// =BUTTONS
// ==================================

/* =BUTTON-ABSTRACT
 * ++++++++++++++++++++++++++++++++++ */

%btn-base {
	@extend %control-base;

	display: inline-block;
	@include box-sizing(border-box);
	font: $btn-font-weight #{pxtoem($btn-font-sz, $base-font-sz)}/#{$btn-height-factor} $bdy-stack;
	text-align: center;
	vertical-align: middle;

	/* adapt line-height for contained icons that were resized */
	& .icon--small { line-height: get-factor($btn-height, $small-icon-sz); }
	& .icon--big { line-height: get-factor($btn-height, $big-icon-sz); }
	& .icon--huge { line-height: get-factor($btn-height, $huge-icon-sz); }
	& .icon--giant { line-height: get-factor($btn-height, $giant-icon-sz); }
}

input%btn-base,
button%btn-base
{
	height: #{$btn-height-factor}em; /* FF doesn't take custom line-heights */
	border: none;
	background-image: none; /* reset gradient effects on FF mobile */
}

label%btn-base {
	cursor: pointer;
}

.btn {
	@extend %btn-base;
	padding: 0 $btn-horizontal-padding;
}

.icon-btn {
	@extend %btn-base;

	width: #{$btn-height-factor}em;
	height: #{$btn-height-factor}em;
	padding: 0;
}

/* =BUTTON-POSITIONS
 * ----------------------------------- */

$sides : "left" "right" "top" "bottom";

@for $i from 1 through 2
{
	@for $j from 3 through 4
	{
		$horizontal: nth($sides, $i);
		$vertical: nth($sides, $j);

		%overlay-btn--#{$vertical}#{$horizontal}
		{
			position: absolute;
			#{$horizontal}: $horizontal-spacing;
			#{$vertical}: $vertical-spacing;
		}
	}
}

@for $i from 1 through 2
{
	@for $j from 3 through 4
	{
		$vertical: nth($sides, $j);
		$horizontal: nth($sides, $i);
		$amount: (0.5 * $btn-height); /* ¡¡ was 0.35 ¡¡ */

		%flyover-btn--#{$vertical}#{$horizontal}
		{
			position: absolute;
			@include flyover($horizontal, $amount, $vertical);
		}
	}
}

/* =BUTTON-MODIFIERS
 * ++++++++++++++++++++++++++++++++++ */

/* =BUTTON-HEIGHTS
 * ----------------------------------- */

.btn--small
{
	line-height: $small-btn-height-factor;
	&.btn { padding: 0 $small-btn-horizontal-padding; }
	&.icon-btn { width: #{$small-btn-height-factor}em; height: #{$small-btn-height-factor}em; }

	& .icon--small { line-height: get-factor($small-btn-height, $small-icon-sz); }
	& .icon--big { line-height: get-factor($small-btn-height, $big-icon-sz); }
	& .icon--huge { line-height: get-factor($small-btn-height, $huge-icon-sz); }
	& .icon--giant { line-height: get-factor($small-btn-height, $giant-icon-sz); }
}

input.btn--small,
button.btn-small, {
	height: #{$small-btn-height-factor}em;
}

.btn--big {
	line-height: $big-btn-height-factor;
	&.btn { padding: 0 $big-btn-horizontal-padding; }
	&.icon-btn { width: #{$big-btn-height-factor}em; height: #{$big-btn-height-factor}em; }

	& .icon--small { line-height: get-factor($big-btn-height, $small-icon-sz); }
	& .icon--big { line-height: get-factor($big-btn-height, $big-icon-sz); }
	& .icon--huge { line-height: get-factor($big-btn-height, $huge-icon-sz); }
	& .icon--giant { line-height: get-factor($big-btn-height, $giant-icon-sz); }
}

input.btn--big,
button.btn--big {
	height: #{$big-btn-height-factor}em;
}

.btn--huge {
	line-height: $huge-btn-height-factor;
	&.btn { padding: 0 $huge-btn-horizontal-padding; }
	&.icon-btn { width: #{$huge-btn-height-factor}em; height: #{$huge-btn-height-factor}em; }

	& .icon--small { line-height: get-factor($huge-btn-height, $small-icon-sz); }
	& .icon--big { line-height: get-factor($huge-btn-height, $big-icon-sz); }
	& .icon--huge { line-height: get-factor($huge-btn-height, $huge-icon-sz); }
	& .icon--giant { line-height: get-factor($huge-btn-height, $giant-icon-sz); }
}

input.btn--huge,
button.btn--huge {
	height: #{$huge-btn-height-factor}em;
}

.btn--giant, {
	line-height: $giant-btn-height-factor;
	&.btn { padding: 0 $giant-btn-horizontal-padding; }
	&.icon-btn { width: #{$giant-btn-height-factor}em; height: #{$giant-btn-height-factor}em; }

	& .icon--small { line-height: get-factor($giant-btn-height, $small-icon-sz); }
	& .icon--big { line-height: get-factor($giant-btn-height, $big-icon-sz); }
	& .icon--huge { line-height: get-factor($giant-btn-height, $huge-icon-sz); }
	& .icon--giant { line-height: get-factor($giant-btn-height, $giant-icon-sz); }
}

input.btn--giant,
button.btn--giant {
	height: #{$giant-btn-height-factor}em;
}


/* =BUTTON-WIDTHS
 * ----------------------------------- */

.btn--compact {
	width: $compact-btn-width; /* IE8 fallback */
	width: pxtorem($compact-btn-width);
	padding: 0;
}

.btn--medium {
	min-width: $medium-btn-width; /* IE8 fallback */
	min-width: pxtorem($medium-btn-width);
}

.btn--fat {
	min-width: $fat-btn-width; /* IE8 fallback */
	min-width: pxtorem($fat-btn-width);
}

.btn--expand {
	display: block;
}

input.btn--expand,
button.btn--expand {
	width: 100%;
}

/* =BUTTON-STYLES
 * ----------------------------------- */

.btn--round {
	@include border-radius(pxtorem($btn-bdr-radius));
}

.btn--circle {
	@include border-radius($btn-height);
}

.btn--embossed {
	@include box-shadow(0 1px 1px $main-drop-shadow-clr);

	.ui & {
		@include box-shadow(0 1px 1px $ui-drop-shadow-clr);
		&:hover, &:active { background: $ui-active-bkg-clr; }
	}

	&:active {
		@include transform(translateY(1px));
		@include box-shadow(0, 0, 0, transparent);
	}
}

.btn--transparent {
	color: $white;
	background-color: transparent;

	&:hover, &:active { color: $white; }
	&:active { background-color: rgba(0,0,0,0.2); }
}

/* =BUTTON-SEMANTICS
 * ++++++++++++++++++++++++++++++++++ */

%semantic-btn {
	color : $white;

	&.inactive {
		color: $main-weak-clr;
		background-color: $main-active-bkg-clr;
	}

	.ui &.inactive,
	.ui &[data-switch="off"] {
		color: $ui-weak-clr;
		background-color: $ui-dark-bkg-clr;
	}

	.ui--well &.inactive,
	.ui--well &[data-switch="off"] {
		background-color: $ui-bkg-clr;
	}

	&:hover, &:active,
	.ui &:hover, .ui &:active {
		color: $white;
	}
}

a%semantic-btn {
	color: $white;
}

/* =BUTTON-COMPONENTS
 * ++++++++++++++++++++++++++++++++++ */

/* MAIN-BTN
 * ----------------------------------- */

.regular-btn {
	@extend .btn--round;
	@extend %control;

	background-color: $white;

	.ui & {
		background-color: transparent;

		&:disabled, &.disabled { background-color: $ui-dark-bkg-clr; }
	}

	.ui--well & {
		background-color: $ui-bkg-clr;
	}
}

/* SOCIAL-BTN
 * ----------------------------------- */

.social-btn {
	@extend %semantic-btn;
}

.btn--twitter {
	background-color: $twitter-bkg-clr;
	&:hover, &:active { background-color: $twitter-active-bkg-clr; }
}

.btn--facebook {
	background-color: $facebook-bkg-clr;
	&:hover, &:active { background-color: $facebook-active-bkg-clr; }
}

.btn--tumblr {
	background-color: $tumblr-bkg-clr;
	&:hover, &:active { background-color: $tumblr-active-bkg-clr; }
}

.btn--instagram {
	background-color: $instagram-bkg-clr;
	&:hover, &:active { background-color: $instagram-active-bkg-clr; }
}

.btn--foursquare {
	background-color: $foursquare-bkg-clr;
	&:hover, &:active { background-color: $foursquare-active-bkg-clr; }
}

.btn--googleplus {
	background-color: $googleplus-bkg-clr;
	&:hover, &:active { background-color: $googleplus-active-bkg-clr; }
}

.btn--vimeo {
	background-color: $vimeo-bkg-clr;
	&:hover, &:active { background-color: $vimeo-active-bkg-clr; }
}

 /* ACTION-BTN
 * ----------------------------------- */

%action-btn {
	@extend %semantic-btn;
	@extend .btn--round;
}

.btn-credentials,.btn-info{
	@extend %action-btn;
	background-color: $info-clr;
	&:hover, &:active{
		background-color: $info-dark-clr;
	}

	.ui--well &:hover, .ui--well &:active{
		background-color: $info-dark-clr;
	}
}

.btn-valid{
	@extend %action-btn;
	background-color: $valid-clr;
	&:hover, &:active{
		background-color: $valid-dark-clr;
	}

	.ui--well &:hover, .ui--well &:active{
		background-color: $valid-dark-clr;
	}
}

.btn-warning{
	@extend %action-btn;
	background-color: $warning-clr;
	&:hover, &:active{
		background-color: $warning-dark-clr;
	}

	.ui--well &:hover, .ui--well &:active{
		background-color: $warning-dark-clr;
	}
}

.btn-error{
	@extend %action-btn;
	background-color: $error-clr;
	&:hover, &:active{
		background-color: $error-dark-clr;
	}

	.ui--well &:hover, .ui--well &:active{
		background-color: $error-dark-clr;
	}
}