

// =CONTAINERS USED TO BUILD UP THE SITE'S LAYOUT
// ====================================================================

/*
 *
 */

/* =COVERLETS
 * ++++++++++++++++++++++++++++++++++ */

%coverlet {
	display: block; /* allow the use of inline and inline-block elements */
	position: absolute;
	margin: 0;
	z-index: 100;
}

%popup {
	display: block; /* allow the use of inline and inline-block elements */
	position: fixed;
	margin: 0;
	z-index: 200;
}

/* =OVERLAY
 * ----------------------------------- */
// Covers the whole space available in its closest positioned parent

.overlay {
	@extend %coverlet;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

/* =FULLSCREEN
 * ----------------------------------- */
 // Covers the whole screen

%fullscreen {
	@extend %popup;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

/* =CONTAINERS
 * ++++++++++++++++++++++++++++++++++ */

// make overflowing elements scrollable (uses js polyfill)
.overthrow {
	overflow: auto;
}


/* =MEDIA
* ----------------------------------- */

.media {
	// @extend .group;
	/* 多多 .group provoques white space at the bottom when one of the children is not floated ?? */
	//min-height: $thumb-height; /* best fix found up to now */
}

.media_img {
	float: left;
}

.media_body {
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

/* =CENTROID
* ----------------------------------- */
// a block centered both vertically and horizontally in its container
// (http://css-tricks.com/centering-in-the-unknown)
// Make sure you position the container as 'relative', 'absolute' or 'fixed'

.centroid_wrap {
	text-align: center;

	// ghost element for centering
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em; /* adjusts for white-space */
	}
}

.centroid {
	display: inline-block;
	vertical-align: middle;
}


/* =STYLED-CONTAINERS
 * ++++++++++++++++++++++++++++++++++ */

/* =POLAROID
 * ----------------------------------- */

.polaroid
{
	background-color: $white;
	margin: pxtoem($vertical-spacing, $base-font-sz) 0;
	padding: pxtoem($vertical-spacing/2, $base-font-sz);
	@include box-shadow(0 1px 1px $main-drop-shadow-clr);
}


