
/* =FONTS
 *  ================================== */

/* =FONTS-BASE
 * +++++++++++++++++++++++++++++++++++ */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,100italic,300italic,400italic,700italic);
@font-face {
    font-family: 'brandon_grotesque';
    src: url('../fonts/brandon_med-webfont.eot');
    src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_med-webfont.woff') format('woff'),
         url('../fonts/brandon_med-webfont.ttf') format('truetype'),
         url('../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}