// -------------------------------------
// =grid building
// -------------------------------------

/*
 * Use silent classes or not
*/

$class-type:unquote(".");
@if ($grid-silent-classes == true)
{
    $class-type:unquote("%");
}


/*
 * Define grid
 *
 * compensating left and right margins of left and rightmost grid_modules in grid
*/

#{$class-type}grid
{
    list-style:none;                    // [1]
    margin:0;                           // [2]
    padding:0;                          // [2]
    margin-left:($grid-gutter * -1);
}


/*
 * Grid units
 *
 * - 1. grid modules are 100% by default
 * - 2. allows for padding without modifying the box width
 * - 3. gutters created using padding
 * - 4. using inline-block to stack the modules side by side (comment out white space in html)
 * - 5. align top of modules
*/

#{$class-type}grid__module
{
    width:100%;                         // [1]
    -webkit-box-sizing:border-box;      // [2]
       -moz-box-sizing:border-box;
            box-sizing:border-box;
    //padding-left:$grid-gutter;          // [3]
    padding:0 ($grid-gutter/2);          // [3]
    display:inline-block;               // [4]
    vertical-align:top;                 // [5]
}


// -------------------------------------
// =Default proportional grid
// -------------------------------------

@mixin maingrid($namespace:"")
{
    // add dash at the end of namespace to construct classnames
    @if ($namespace != "")
    {
        $namespace: "#{$namespace}-";
    }

    #{$class-type}#{$namespace}span-full            { width:100%; }

    #{$class-type}#{$namespace}span-1of2            { width:50%; }

    #{$class-type}#{$namespace}span-1of3            { width:33.333%; }
    #{$class-type}#{$namespace}span-2of3            { width:66.666%; }

    #{$class-type}#{$namespace}span-1of4            { width:25%; }
    #{$class-type}#{$namespace}span-2of4            { @extend #{$class-type}#{$namespace}span-1of2; }
    #{$class-type}#{$namespace}span-3of4            { width:75%; }

    #{$class-type}#{$namespace}span-1of5            { width:20%; }
    #{$class-type}#{$namespace}span-2of5            { width:40%; }
    #{$class-type}#{$namespace}span-3of5            { width:60%; }
    #{$class-type}#{$namespace}span-4of5            { width:80%; }

    #{$class-type}#{$namespace}span-1of6            { width:16.666%; }
    #{$class-type}#{$namespace}span-2of6            { @extend #{$class-type}#{$namespace}span-1of2; }
    #{$class-type}#{$namespace}span-3of6            { @extend #{$class-type}#{$namespace}span-1of3; }
    #{$class-type}#{$namespace}span-4of6            { @extend #{$class-type}#{$namespace}span-2of3; }
    #{$class-type}#{$namespace}span-5of6            { width:83.333%; }

    #{$class-type}#{$namespace}span-1of8            { width:12.5%; }
    #{$class-type}#{$namespace}span-2of8            { @extend #{$class-type}#{$namespace}span-1of4; }
    #{$class-type}#{$namespace}span-3of8            { width:37.5%; }
    #{$class-type}#{$namespace}span-4of8            { @extend #{$class-type}#{$namespace}span-1of2; }
    #{$class-type}#{$namespace}span-5of8            { width:62.5%; }
    #{$class-type}#{$namespace}span-6of8            { @extend #{$class-type}#{$namespace}span-3of4; }
    #{$class-type}#{$namespace}span-7of8            { width:87.5%; }

    #{$class-type}#{$namespace}span-1of10           { width:10%; }
    #{$class-type}#{$namespace}span-2of10           { @extend #{$class-type}#{$namespace}span-1of5; }
    #{$class-type}#{$namespace}span-3of10           { width:30%; }
    #{$class-type}#{$namespace}span-4of10           { @extend #{$class-type}#{$namespace}span-2of5; }
    #{$class-type}#{$namespace}span-5of10           { @extend #{$class-type}#{$namespace}span-1of2; }
    #{$class-type}#{$namespace}span-6of10           { @extend #{$class-type}#{$namespace}span-3of5; }
    #{$class-type}#{$namespace}span-7of10           { width:70%; }
    #{$class-type}#{$namespace}span-8of10           { @extend #{$class-type}#{$namespace}span-4of5; }
    #{$class-type}#{$namespace}span-9of10           { width:90%; }

    #{$class-type}#{$namespace}span-1of12           { width:8.333%; }
    #{$class-type}#{$namespace}span-2of12           { @extend #{$class-type}#{$namespace}span-1of6; }
    #{$class-type}#{$namespace}span-3of12           { @extend #{$class-type}#{$namespace}span-1of4; }
    #{$class-type}#{$namespace}span-4of12           { @extend #{$class-type}#{$namespace}span-1of3; }
    #{$class-type}#{$namespace}span-5of12           { width:41.666% }
    #{$class-type}#{$namespace}span-6of12           { @extend #{$class-type}#{$namespace}span-1of2; }
    #{$class-type}#{$namespace}span-7of12           { width:58.333%; }
    #{$class-type}#{$namespace}span-8of12           { @extend #{$class-type}#{$namespace}span-2of3; }
    #{$class-type}#{$namespace}span-9of12           { @extend #{$class-type}#{$namespace}span-3of4; }
    #{$class-type}#{$namespace}span-10of12          { @extend #{$class-type}#{$namespace}span-5of6; }
    #{$class-type}#{$namespace}span-11of12          { width:91.666%; }
}


// -------------------------------------
// =Add push classes
// -------------------------------------

/*
 * proportionnaly nudge things to the left
 *
 * - using relative positioning and left positions
 * - combined with pull classes, this allows for more complex content choreography
*/

@mixin pushclasses($namespace:"")
{
    // add dash at the end of namespace to construct classnames
    @if ($namespace != "")
    {
        $namespace: "#{$namespace}-";
    }

    #{$class-type}#{$namespace}push-full            { position:relative; left:100%; }

    #{$class-type}#{$namespace}push-1of2            { position:relative; left:50%; }

    #{$class-type}#{$namespace}push-1of3            { position:relative; left:33.333%; }
    #{$class-type}#{$namespace}push-2of3            { position:relative; left:66.666%; }

    #{$class-type}#{$namespace}push-1of4            { position:relative; left:25%; }
    #{$class-type}#{$namespace}push-2of4            { @extend #{$class-type}#{$namespace}push-1of2; }
    #{$class-type}#{$namespace}push-3of4            { position:relative; left:75%; }

    #{$class-type}#{$namespace}push-1of5            { position:relative; left:20%; }
    #{$class-type}#{$namespace}push-2of5            { position:relative; left:40%; }
    #{$class-type}#{$namespace}push-3of5            { position:relative; left:60%; }
    #{$class-type}#{$namespace}push-4of5            { position:relative; left:80%; }

    #{$class-type}#{$namespace}push-1of6            { position:relative; left:16.666%; }
    #{$class-type}#{$namespace}push-2of6            { @extend #{$class-type}#{$namespace}push-1of2; }
    #{$class-type}#{$namespace}push-3of6            { @extend #{$class-type}#{$namespace}push-1of3; }
    #{$class-type}#{$namespace}push-4of6            { @extend #{$class-type}#{$namespace}push-2of3; }
    #{$class-type}#{$namespace}push-5of6            { position:relative; left:83.333%; }

    #{$class-type}#{$namespace}push-1of8            { position:relative; left:12.5%; }
    #{$class-type}#{$namespace}push-2of8            { @extend #{$class-type}#{$namespace}push-1of4; }
    #{$class-type}#{$namespace}push-3of8            { position:relative; left:37.5%; }
    #{$class-type}#{$namespace}push-4of8            { @extend #{$class-type}#{$namespace}push-1of2; }
    #{$class-type}#{$namespace}push-5of8            { position:relative; left:62.5%; }
    #{$class-type}#{$namespace}push-6of8            { @extend #{$class-type}#{$namespace}push-3of4; }
    #{$class-type}#{$namespace}push-7of8            { position:relative; left:87.5%; }

    #{$class-type}#{$namespace}push-1of10           { position:relative; left:10%; }
    #{$class-type}#{$namespace}push-2of10           { @extend #{$class-type}#{$namespace}push-1of5; }
    #{$class-type}#{$namespace}push-3of10           { position:relative; left:30%; }
    #{$class-type}#{$namespace}push-4of10           { @extend #{$class-type}#{$namespace}push-2of5; }
    #{$class-type}#{$namespace}push-5of10           { @extend #{$class-type}#{$namespace}push-1of2; }
    #{$class-type}#{$namespace}push-6of10           { @extend #{$class-type}#{$namespace}push-3of5; }
    #{$class-type}#{$namespace}push-7of10           { position:relative; left:70%; }
    #{$class-type}#{$namespace}push-8of10           { @extend #{$class-type}#{$namespace}push-4of5; }
    #{$class-type}#{$namespace}push-9of10           { position:relative; left:90%; }

    #{$class-type}#{$namespace}push-1of12           { position:relative; left:8.333%; }
    #{$class-type}#{$namespace}push-2of12           { @extend #{$class-type}#{$namespace}push-1of6; }
    #{$class-type}#{$namespace}push-3of12           { @extend #{$class-type}#{$namespace}push-1of4; }
    #{$class-type}#{$namespace}push-4of12           { @extend #{$class-type}#{$namespace}push-1of3; }
    #{$class-type}#{$namespace}push-5of12           { position:relative; left:41.666% }
    #{$class-type}#{$namespace}push-6of12           { @extend #{$class-type}#{$namespace}push-1of2; }
    #{$class-type}#{$namespace}push-7of12           { position:relative; left:58.333%; }
    #{$class-type}#{$namespace}push-8of12           { @extend #{$class-type}#{$namespace}push-2of3; }
    #{$class-type}#{$namespace}push-9of12           { @extend #{$class-type}#{$namespace}push-3of4; }
    #{$class-type}#{$namespace}push-10of12          { @extend #{$class-type}#{$namespace}push-5of6; }
    #{$class-type}#{$namespace}push-11of12          { position:relative; left:91.666%; }
}


// -------------------------------------
// =add pull classes
// -------------------------------------

/*
 * proportionnaly nudge things to the right
 *
 * - using relative positioning and right positions
 * - combined with pull classes, this allows for more complex content choreography
*/

@mixin pullclasses($namespace:"")
{
    @if ($namespace != "")
    {
        $namespace: "#{$namespace}-";
    }

    #{$class-type}#{$namespace}pull-full            { position:relative; right:100%; }

    #{$class-type}#{$namespace}pull-1of2            { position:relative; right:50%; }

    #{$class-type}#{$namespace}pull-1of3            { position:relative; right:33.333%; }
    #{$class-type}#{$namespace}pull-2of3            { position:relative; right:66.666%; }

    #{$class-type}#{$namespace}pull-1of4            { position:relative; right:25%; }
    #{$class-type}#{$namespace}pull-2of4            { @extend #{$class-type}#{$namespace}pull-1of2; }
    #{$class-type}#{$namespace}pull-3of4            { position:relative; right:75%; }

    #{$class-type}#{$namespace}pull-1of5            { position:relative; right:20%; }
    #{$class-type}#{$namespace}pull-2of5            { position:relative; right:40%; }
    #{$class-type}#{$namespace}pull-3of5            { position:relative; right:60%; }
    #{$class-type}#{$namespace}pull-4of5            { position:relative; right:80%; }

    #{$class-type}#{$namespace}pull-1of6            { position:relative; right:16.666%; }
    #{$class-type}#{$namespace}pull-2of6            { @extend #{$class-type}#{$namespace}pull-1of2; }
    #{$class-type}#{$namespace}pull-3of6            { @extend #{$class-type}#{$namespace}pull-1of3; }
    #{$class-type}#{$namespace}pull-4of6            { @extend #{$class-type}#{$namespace}pull-2of3; }
    #{$class-type}#{$namespace}pull-5of6            { position:relative; right:83.333%; }

    #{$class-type}#{$namespace}pull-1of8            { position:relative; right:12.5%; }
    #{$class-type}#{$namespace}pull-2of8            { @extend #{$class-type}#{$namespace}pull-1of4; }
    #{$class-type}#{$namespace}pull-3of8            { position:relative; right:37.5%; }
    #{$class-type}#{$namespace}pull-4of8            { @extend #{$class-type}#{$namespace}pull-1of2; }
    #{$class-type}#{$namespace}pull-5of8            { position:relative; right:62.5%; }
    #{$class-type}#{$namespace}pull-6of8            { @extend #{$class-type}#{$namespace}pull-3of4; }
    #{$class-type}#{$namespace}pull-7of8            { position:relative; right:87.5%; }

    #{$class-type}#{$namespace}pull-1of10           { position:relative; right:10%; }
    #{$class-type}#{$namespace}pull-2of10           { @extend #{$class-type}#{$namespace}pull-1of5; }
    #{$class-type}#{$namespace}pull-3of10           { position:relative; right:30%; }
    #{$class-type}#{$namespace}pull-4of10           { @extend #{$class-type}#{$namespace}pull-2of5; }
    #{$class-type}#{$namespace}pull-5of10           { @extend #{$class-type}#{$namespace}pull-1of2; }
    #{$class-type}#{$namespace}pull-6of10           { @extend #{$class-type}#{$namespace}pull-3of5; }
    #{$class-type}#{$namespace}pull-7of10           { position:relative; right:70%; }
    #{$class-type}#{$namespace}pull-8of10           { @extend #{$class-type}#{$namespace}pull-4of5; }
    #{$class-type}#{$namespace}pull-9of10           { position:relative; right:90%; }

    #{$class-type}#{$namespace}pull-1of12           { position:relative; right:8.333%; }
    #{$class-type}#{$namespace}pull-2of12           { @extend #{$class-type}#{$namespace}pull-1of6; }
    #{$class-type}#{$namespace}pull-3of12           { @extend #{$class-type}#{$namespace}pull-1of4; }
    #{$class-type}#{$namespace}pull-4of12           { @extend #{$class-type}#{$namespace}pull-1of3; }
    #{$class-type}#{$namespace}pull-5of12           { position:relative; right:41.666% }
    #{$class-type}#{$namespace}pull-6of12           { @extend #{$class-type}#{$namespace}pull-1of2; }
    #{$class-type}#{$namespace}pull-7of12           { position:relative; right:58.333%; }
    #{$class-type}#{$namespace}pull-8of12           { @extend #{$class-type}#{$namespace}pull-2of3; }
    #{$class-type}#{$namespace}pull-9of12           { @extend #{$class-type}#{$namespace}pull-3of4; }
    #{$class-type}#{$namespace}pull-10of12          { @extend #{$class-type}#{$namespace}pull-5of6; }
    #{$class-type}#{$namespace}pull-11of12          { position:relative; right:91.666%; }
}


// -------------------------------------
// =export grid in all media-queries
// -------------------------------------

/*
 * In SASS, you cannot extend classes that are not in the same media queries / context
 *
 * - The code belows generate (silent) classes for all the defined media queries breakpoints
 * - This imply that you are using a mobile first approach
*/


/*
 * include basic non-namespaced (silent) classes without any media queries
*/

@include maingrid();
@if ($grid-push-classes == true) { @include pushclasses(); }
@if ($grid-pull-classes == true) { @include pullclasses(); }


/*
 * include namespaced (silent) classes for all media queries
 *
 * - the use "with grids" parameter must be set to true when defining breakpoints in variables.scss
*/

@each $breakpoint in $breakpoints
{
    $namespace: nth($breakpoint, 1);
    $grid-mq: nth($breakpoint, 3);

    //check that the "use for grids" parameter is set to true
    @if ($grid-mq == true)
    {
        @include mq($namespace)
        {
            @include maingrid("#{$namespace}");
            @if ($grid-push-classes == true) { @include pushclasses("#{$namespace}"); }
            @if ($grid-pull-classes == true) { @include pullclasses("#{$namespace}"); }
        }
    }
}