
// =LINKS
// ==================================

/* =LINK-ABSTRACT
 * +++++++++++++++++++++++++++++++++++ */

/* =MAIN-LINKS
 * ----------------------------------- */

a,
.link {
	color: $main-link-clr;
	//@extend %nomad-app-clr;
	//font-style: italic;
	text-decoration: none;
	// padding-bottom: 0.2em;
	// border-bottom: 2px solid $main-link-bdr-clr;

	&:visited { color: $main-visited-link-clr; }
	//&:hover { text-decoration: underline; }
	&:hover, &:active { color: $main-active-link-clr; }
	&:focus {text-decoration: none; }

	&.disabled {
		opacity: $link-disabled-opacity;
		cursor: default;
		pointer-events: none;
	}
}

.link {
	@extend %insignia--color;
	@extend %nomad-app-clr;
	&:visited {
		// [data-user-relation="publish"] & { color: $dark-pub-clr; }
		// [data-user-relation="follow"] & { color: darken($dark-flw-clr, 5%); }
		// [data-user-relation="mention"] & { color: $dark-mtn-clr; }
		@extend %nomad-app-dark-clr;
	}

	&:hover, &:active {
		// [data-user-relation="publish"] & { color: $dark-pub-clr; }
		// [data-user-relation="follow"] & { color: darken($dark-flw-clr, 5%); }
		// [data-user-relation="mention"] & { color: $dark-mtn-clr; }
		@extend %nomad-app-dark-clr;
	}
}

/* =UI-LINKS
 * ----------------------------------- */

.ui a,
.ui .link {
	color: $ui-weak-clr;

	&:visited { color: $ui-visited-link-clr; }
	&:hover, &:active { color: $ui-active-link-clr; }
	&:active { background-color: $ui-active-bkg-clr; }
}

/* =RESET-LINKS
 * ----------------------------------- */

@mixin link-reset
{
	color: inherit;
	text-decoration: none;
	font-style: normal;

	&:hover { text-decoration: none; }
	&:active, &:focus { outline: none; }
}