
/* =LISTS
 *  ================================== */

/* =LIST-ABSTRACT
 * +++++++++++++++++++++++++++++++++++ */

.ui-list
{
	margin: 0;
	padding: 0;
	list-style: none;
}

%inline-list
{
	@extend .ui-list;
	word-spacing: pxtoem($horizontal-spacing, $base-font-sz);
}

%inline-list_item
{
	display: inline-block;
	// word-spacing: normal;
}

/* =LIST-COMPONENTS
 * +++++++++++++++++++++++++++++++++++ */

/* =BLOCK-LIST
 * ----------------------------------- */

.block-list {
	@extend .ui-list;
}

.block-list_item {
	display: block;
	padding: pxtoem($vertical-spacing, $base-font-sz) 0;
}
.block-list_active{
	background-color:$main-active-bkg-clr;
	border-top:1px solid $white;
	border-bottom:1px solid $white;
}

.block-list_link {
	@extend .block_link;
	margin: -(pxtoem($vertical-spacing, $base-font-sz)) 0;
}


/* =HORIZONTAL-LIST
 * ----------------------------------- */

.horizontal-list
{
	@extend .group;
	@extend .ui-list;
}

.horizontal-list_item
{
	float: left;
	margin-left: $horizontal-spacing; /* IE8 does not support rems */
	margin-left: pxtorem($horizontal-spacing);
}

.horizontal-list_item:first-child
{
	margin-left: 0;
}

/* =BANNER-LIST
 * ----------------------------------- */

.banner-list
{
	@extend .ui-list;
	@extend %inline-list;
	text-align: center;
}

.banner-list_item {
	@extend %inline-list_item;
}

/* =CODE-LIST
 * ----------------------------------- */

 .code-list{
 	background-color:$white;
 	counter-reset: item;
 	list-style: none;
 	border:1px solid $main-clr;
 	font-weight: 200;
 	line-height: 1.80;
 	white-space: nowrap;
 	overflow: scroll;
 	padding-right:2em;
 }
 .code-list_item{
 	display:block;
 	&:before{
 		
 		@include user-select(none);
 		display: inline-block;
 		content : counter(item) "";
 		counter-increment: item;
 		width:2em;
 		margin-left: -3em;
 		text-align: center;
 		margin-right: 1em;
 		color:$white;
 		background-color:$main-clr;
 	}
 }

/* =STYLES-LISTS
 * +++++++++++++++++++++++++++++++++++ */

 .form-list {
 	@extend .ui-list;
 }