/* =FLUID-MEDIA
 * ++++++++++++++++++++++++++++++++++ */

/* =FLUID-OBJECTS
* ----------------------------------- */
// use with the 'object-fit.js' component to mimic very future css3 'object-fit' and 'object-position' properties

[data-object-fit] {
	background-position: center; /* IE 7/8 rely on this only */
	background-repeat: no-repeat;
	img { visibility: hidden; }
}

[data-object-fit="cover"] {
	@include background-size(cover);
}

[data-object-fit="contain"] {
	@include background-size(contain);
}

/* =FLUID-IMAGES
* ----------------------------------- */
// an img-holder is a container for a fluid inline image

.img_holder
{
	display: block;
	margin: 0;
	padding: 0;

	img {
		display: block; /* removes spacing at bottom */
		max-width: 100%;
	}
}
.img_holder_center
{
	img
	{
		margin:0 auto;
	}
}

/* =FRAME
* ----------------------------------- */
// a frame is a fluid container maintaining it's aspect ratio
// it can hold an inline element with a class of ’frame_innr’
// to give it a background image, apply :
//		’background-image: url(...) no-repeat;’
//		’background-size: cover;’
//		’background-position: center’

.frame
{
	position: relative;
	width: 100%;
	height: 0;

	&.ratio-1to-9 {
		padding-top: percentage(9/16);
	}

	&.ratio-3to2 {
		padding-top: percentage(2/3);
	}

	&.ratio-4to3 {
		padding-top: percentage(3/4);
	}

	&.ratio-16to9 {
		padding-top: percentage(9/16);
	}

	&.ratio-scope {
		padding-top: percentage(20/47);
	}

	&.ratio-square {
		padding-top: 100%;
	}
}

/* =FLEX-FRAME
* ----------------------------------- */

// a fluid frame is a container changing fluidly from one aspect ratio to another
// it can hold an inline image in wich case it uses a ’faux-image’ (via js) to crop it
// to give it a background image, apply : ’background-image: url(...) no-repeat;’

// NEEDS TO BE REWRITTEN TO WORK WITH THE ARTWORK'S SLIDER

.flex-frame {
	margin: 0;
	max-width: 1024px;
}

.flex-frame_innr {
	@include fluid-aspect-ratio(320px 320px, 1024px 576px);
}

/* =PILL
* ----------------------------------- */

.pill{
	
	border:2px solid $white;
	@include box-shadow(0 0 0 1px $ui-well-bkg-clr, 0 1px 2px $ui-drop-shadow-clr);
}

/* =ROUND PILL
* ----------------------------------- */

.pill-round{
	@extend .pill;
	@include border-radius(50%,50%);
}
