
// POSITIONING CSS COMPONENTS
// ==================================

$sides: "left" "right" "top" "bottom";

// add ons are absolutely positioned on one side and centered
// vertically (you must provide the amoun of negative margin to use).
// make sure you define their positioning context correctly

@mixin add-on($side, $vertical-offset, $margin: 0)
{
	position: absolute;
	#{$side} : $margin;
	top: 50%;
	margin-top: -($vertical-offset);
}

// flies out of its container by half its own side
@mixin flyover($side, $amount, $side2:"", $amount2:"")
{
	position: absolute;
	#{$side}: -#{$amount};

	@if ($amount2 == "") { $amount2: $amount; }
	@if ($side2 != "") {
		#{$side2}: -($amount2); /* IE8 does not support rems */
		#{$side2}: -(pxtorem($amount2));
	}
	@else {
		@if (nth($sides, 1) == $side or nth($sides, 2) ==  $side) {
			top: 50%;
		}
		@else {
			left: 50%;
		}
	}
}

// flies completely out of the container box
// caution with horizontal flyouts on small screens

@each $side in $sides
{
	.flyout--#{$side}
	{
		@include flyover($side, 50%);
	}
}

