
/* =RESPONSIVE HELPER CLASSES
 *  ================================== */


/* =RESPONSIVE-ABSTRACT
 * +++++++++++++++++++++++++++++++++++ */

/* =REVEAL
 * ----------------------------------- */

@mixin reveal($namespace:"")
{

    //create namespace from the media-queries mixin
    @if ($namespace != "")
    {
        $namespace:"#{$namespace}-";
    }

    %#{$namespace}reveal {
        position: static;
        width: auto;
        height: auto;
        // margin: auto;
        padding: auto;
        border: auto;
        border: auto;
        clip: auto;
        overflow: visible;
    }
}

/* =SPAN
 * ----------------------------------- */

@mixin span($namespace:"")
{
    //create namespace from the media-queries mixin
    @if ($namespace != "")
    {
        $namespace:"#{$namespace}-";
    }

    // use when you want your module to span the whole width of its
    // container at any screen sizes
    %#{$namespace}span-full
    {
        width:100%;
    }

    // creates namespaced silent classes (namespace is defined in _variables.scss)
    // %namespace-span-1of2
    // %namespace-span-1of3
    // %namespace-span-2of3
    // %namespace-span-1of4
    // %namespace-span-2of4
    // %namespace-span-3of4
    // ...
    // %namespace-span-11of12

    @for $i from 1 through $num-columns
    {
        @for $j from 1 to ($i)
        {
            %#{$namespace}span-#{$j}of#{$i}
            {
                width:(100% / $i) * $j;
            }
        }
    }
}

@include span();


/* =MEDIAN
 * ----------------------------------- */
// a container that will always be in the center of the page,
// without the need of specifying a width

@mixin median($namespace:"")
{
    //create namespace from the media-queries mixin
    @if ($namespace != "")
    {
        $namespace:"#{$namespace}-";
    }

    // creates namespaced silent classes (namespace is defined in _variables.scss)
    %#{$namespace}median {
        display: table;
        margin: 0 auto;
    }
}

@include median();


/* =BANNER
 * ----------------------------------- */
// a container that will always be in the center of the page,
// without the need of specifying a width

@mixin banner($namespace:"")
{
    //create namespace from the media-queries mixin
    @if ($namespace != "")
    {
        $namespace:"#{$namespace}-";
    }

    // creates namespaced silent classes (namespace is defined in _variables.scss)
    %#{$namespace}banner {
        max-width: $banner-max-width;
        margin: 0 auto;
    }
}

@include banner();


/* =SPLIT
 * ----------------------------------- */
// use with the '.group' class or any other module extending it

@mixin flush($namespace:"")
{
    //create namespace from the media-queries mixin
    @if ($namespace != "")
    {
        $namespace:"#{$namespace}-";
    }

    // creates namespaced silent classes (namespace is defined in _variables.scss)
    %#{$namespace}flush {

        .flush--right {
            width: auto;
            float: right;
        }

        .flush--left {
            width: auto;
            float: left;
        }
    }
}

@include flush();


/* =RESPONSIVE-MEDIA-QUERIES
 * +++++++++++++++++++++++++++++++++++ */

// =export responsive helpers in all media-queries
// -----------------------------------------------
// the order is important here as it determines the order of CSS rules in generated file
// NOTE: in your SCSS, you need to define a width for each media queries for it to work properly

@each $breakpoint in $breakpoints
{
    $prefix: nth($breakpoint, 1);

    @if ($prefix != "")
    {
        @include mq($prefix)
        {
            @include reveal("#{$prefix}");
            @include span("#{$prefix}");
            @include median("#{$prefix}");
            @include banner("#{$prefix}");
            @include flush("#{$prefix}");
        }
    }
    @else
    {
        @warn "media queries prefixes not defined";
    }
}


