// GLOBAL VARIABLES AND DEFAULT VALUES USED THROUGHOUT THE CSS FILES
// ====================================================================


// =TYPOGRAPHY
// ===========

// FONT STACKS
$bdy-stack: "Lato", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
$hdr-stack: "brandon_grotesque", "Corbel", Verdana, sans-serif;
$alt-stack: $hdr-stack;

// FONT WEIGHTS
$base-font-weight: 400;
$weak-font-weight: 200;
$strong-font-weight: 600;
$heavy-font-weight: 900;

$main-title-font-weight: 700;
$page-title-font-weight: 300;
$section-title-font-weight: 300;
$entry-title-font-weight: 300;

// FONT SIZES
$base-font-sz: 14px;
$base-line-height: 1.65;
$base-line-height-val: #{strip-units($base-font-sz) * strip-units($base-line-height)};
$narrow-line-height: 1.15;
$compact-line-height: 1.4;
$small-font-sz: 12px;
$big-font-sz: 16px;

$fallback-base-font-sz: 14px;
$fallback-base-line-height: 1.5;

$full-caps-font-sz: 12px;
$big-full-caps-font-sz: 15px;
$huge-full-caps-font-sz: 20px;
$full-caps-spacing: .02em;

$main-title-font-sz: 24px;
$page-title-font-sz: 30px;
$section-title-font-sz: 24px;
$entry-title-font-sz: 18px;

// COLORS
$white: white;
$black: black;

$ui-clr: #dedede;
$ui-weak-clr: #606060;
$ui-med-clr: #acacae;
$ui-strong-clr: $white;

$ui-bkg-clr: #1e1e1e;
$ui-med-bkg-clr: #f2f2f2;
$ui-dark-bkg-clr: #151515;
$ui-active-bkg-clr: #252525;
$ui-dark-active-bkg-clr: #191919;
$ui-bdr-clr: $ui-active-bkg-clr;
$ui-highlight-clr: lighten($ui-bkg-clr, 1%);
$ui-drop-shadow-clr: rgba(0,0,0,.2);
// $ui-well-drop-shadow-clr: rgba(0,0,0,.08);

$ui-well-clr: $ui-weak-clr; //darken($ui-weak-clr, 12%)
$ui-well-bkg-clr: #151515;
$ui-well-bdr-clr: #000000;

$main-clr: #202a3a;
$main-weak-clr: #b2b2b2;
$main-strong-clr: #212121;
$main-title-clr:$white;

$main-bdr-clr: $white;
$main-bkg-clr: #fafafa;
$main-active-bkg-clr: #e0e1e6;
$main-highlight-clr: $white;
$main-drop-shadow-clr: rgba(0,0,0,.15);

$menu-bkg-clr: #282d35;

$overlay-bkg-clr: rgba($ui-bkg-clr, .75);

// APP COLORS

$nomad-crm-clr : #3598db;

// ACTION COLORS

$info-clr : #3598db;
$info-dark-clr : #2a80b9;
$info-darker-clr : darken(#2a80b9,5%);
$valid-clr : #7EE032;
$valid-dark-clr : #69bb2a;
$valid-darker-clr : darken(#69bb2a,5%);
$warning-clr : #f1c40f;
$warning-dark-clr : #f39c11;
$warning-darker-clr : darken(#f39c11,5%);
$error-clr : #e84c3d;
$error-dark-clr : #c1392b;
$error-darker-clr : darken(#c1392b,5%);

// =LINK COLORS
$main-link-clr: $info-clr;
$main-link-bdr-clr: $info-clr;
$main-active-link-clr: darken($info-dark-clr, 3%);
$main-visited-link-clr: darken($info-dark-clr, 3%);

$ui-link-clr: $ui-weak-clr;
$ui-active-link-clr: $ui-strong-clr;
$ui-visited-link-clr: $ui-strong-clr;

// ALERT COLORS

// SOCIAL COLORS
$email-bkg-clr: #252525;
$email-active-bkg-clr: #2d2d2d;
$twitter-bkg-clr: #2BA9E1;
$twitter-active-bkg-clr: lighten($twitter-bkg-clr, 8%);
$facebook-bkg-clr: #3B5998;
$facebook-active-bkg-clr: lighten($facebook-bkg-clr, 8%);
$tumblr-bkg-clr: #44546B;
$tumblr-active-bkg-clr: lighten($tumblr-bkg-clr, 8%);
$instagram-bkg-clr: #396A90;
$instagram-active-bkg-clr: lighten($instagram-bkg-clr, 8%);
$foursquare-bkg-clr: #3AB6E8;
$foursquare-active-bkg-clr: lighten($foursquare-bkg-clr, 8%);
$googleplus-bkg-clr: #D54135;
$googleplus-active-bkg-clr: lighten($googleplus-bkg-clr, 8%);
$vimeo-bkg-clr: #80BEE5;
$vimeo-active-bkg-clr: lighten($vimeo-bkg-clr, 8%);

// MODULAR SCALE
// -- major sixth = 3:5 = 5/3 = 1.667
$supra: 		0;									//	= 13 ×
$tera: 			0;									//	= 13 ×
$giga: 			0;									//	= 13 ×
$mega: 			0;									//	= 13 ×
$alpha: 		0;									//	= 13 ×
$beta: 			0;									//	= 13 ×
$gamma: 		0;									//	= 13 ×
$delta: 		0;									//	= 13 ×
$epsilon: 		0;									//	= 13 ×
$dzeta: 		13; 								// = 13 ×
$eta: 			0; 									// = 13 ×
$theta: 		0; 									// = 13 ×
$iota: 			0; 									// = 13 ×
$kappa: 		0; 									// = 13 ×
$lambda: 		0; 									// = 13 ×
$mu: 			0; 									// = 13 ×
$nu: 			0; 									// = 13 ×
$xi: 			0;

// =LAYOUT
// =======

// =GENERIC
$horizontal-spacing: 10px;
$vertical-spacing: 16px;
$separator-spacing: 3px;

// =BANNER
$banner-gutter: 8px;
$banner-padding: percentage(strip-units($banner-gutter)/320);
$banner-max-width: 672px;

// =PAGE

// =MODAL
$modal-top-offset: 6*$vertical-spacing;
$modal-bdr-radius: 4px;
$modal-innr-min-width: 256px;
$modal-max-width: 480px;

// =MEDIA QUERIES

$breakpoints:
	"micro" "(max-width: #{300/strip-units(16px)}em)" true,			// 0 -> 300px
	"small" "(min-width: #{380/strip-units(16px)}em)" true,			// 380px -> 500px
	"intermediate" "(min-width: #{500/strip-units(16px)}em)" true,	// 500px -> 600px
	"medium" "(min-width: #{600/strip-units(16px)}em)" true,		// 600px -> 860px
	"large" "(min-width: #{800/strip-units(16px)}em)" true,			// 860px -> 1100px
	"big" "(min-width: #{940/strip-units(16px)}em)" true,			// 940px -> ...
	"huge" "(min-width: #{1100/strip-units(16px)}em)" true;			// 1100px -> ...

// =GRID-SYSTEM
$grid-gutter: 20px!default;

$grid-push-classes: false!default;
$grid-pull-classes: false!default;
$grid-silent-classes: false!default;

// =RESPONSIVENESS
$num-columns: 12;

// =COMPONENTS
// ===========

// =FLYOUTS
$flyout-spacing: 8px;

// =BLOCK-GRID
$block-grid-gutter: 10px;

// -------------------------------------
// =grid configuration
// -------------------------------------

// gutter: only use fixed values (px and rem)


// =ICONS
$icon-font-family: "portfolio";
$icon-sz: 16px;
$small-icon-sz: 12px;
$big-icon-sz: 19px;
$huge-icon-sz: 22px;
$giant-icon-sz: 46px;

// IMAGES

// LINKS
$link-disabled-opacity: .75;

// =BUTTONS
$btn-font-weight: 400;
$btn-disabled-opacity: .75;

$btn-font-sz: 15px;
$btn-height: 36px;
$btn-min-width: 80px;
$btn-height-factor: get-factor($btn-height, $btn-font-sz);
$btn-vertical-padding: pxtoem(($btn-height - $btn-font-sz)/2, $btn-font-sz);
$btn-horizontal-padding: pxtoem(($btn-height)/2, $btn-font-sz);

$small-btn-font-sz: 13px;
$small-btn-height: 24px;
$small-btn-height-factor: get-factor($small-btn-height, $btn-font-sz);
$small-btn-vertical-padding: pxtoem(($small-btn-height - $small-btn-font-sz)/2, $small-btn-font-sz);
$small-btn-horizontal-padding: pxtoem(($small-btn-height)/2, $small-btn-font-sz);

$big-btn-font-sz: 15px;
$big-btn-height: 44px;
$big-btn-height-factor: get-factor($big-btn-height, $btn-font-sz);
$big-btn-vertical-padding: pxtoem(($big-btn-height - $big-btn-font-sz)/2, $big-btn-font-sz);
$big-btn-horizontal-padding: pxtoem(($big-btn-height)/2, $big-btn-font-sz);

$huge-btn-height: 50px;
$huge-btn-font-sz: 15px;
$huge-btn-height-factor: get-factor($huge-btn-height, $huge-btn-font-sz);
$huge-btn-vertical-padding: pxtoem(($huge-btn-height - $huge-btn-font-sz)/2, $huge-btn-font-sz);
$huge-btn-horizontal-padding: pxtoem(($huge-btn-height)/2, $huge-btn-font-sz);

$giant-btn-height: 54px;
$giant-btn-font-sz: 15px;
$giant-btn-height-factor: get-factor($giant-btn-height, $giant-btn-font-sz);
$giant-btn-vertical-padding: pxtoem(($giant-btn-height - $giant-btn-font-sz)/2, $giant-btn-font-sz);
$giant-btn-horizontal-padding: pxtoem(($giant-btn-height)/2, $giant-btn-font-sz);

$btn-bdr-radius: 4px;
$compact-btn-width: $btn-height;
$medium-btn-width: 100px;
$fat-btn-width: 150px;

$btn-spacing: ($vertical-spacing/2);

// =PILL
$pill-spacing: $separator-spacing;
$pill-bdr-radius: $btn-bdr-radius;

// =CAPSULE
$capsule-tip-width: $btn-height;

// =FORMS
$fld-font-sz: 15px;
$fld-height: 40px;
$fld-height-factor: get-factor($fld-height, $fld-font-sz);
$fld-bdr-width: 2px;
$fld-vertical-padding: 0.2em;
$fld-horizontal-padding: 1em;
$fld-legend-bdr-clr:#c3c3c3;

// =EFFECTS
// ========

// =TRANSITIONS

$transition-duration: .25s;
$transition-easing: ease-out;

$fade-duration: .3s;
$fade-easing: ease;